@model DailyMeezan
@*----------Header Code for this Page--------------------------------Start-------------------Header------------------*@
@*this code is for language transalator inject localizer--------------*@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "AccountsErrorReportsList";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

@*----------Header Code for this Page--------------------------------Ended-------------------Header------------------*@

@*----------Body Code for this Page----------------------------------Start---------------------Body----------------*@

@*This HTML For ::Daily/Monthly/Yearly Reports Repository for account Office::*@
<br />
<body>
    <div class="container-fluid backgroundWhiteBorder10Padding">
        <div class="row">
            <form class="tabled col-sm-12">
                <div class="topbtnlist col-sm-12">
                    @*<a class="logo font-weight-bold font-weight-bolder">*@
                    <div class="btn-group">
                        <a href="#BCA"><button type="button" class="btn btn-outline-dark">Bank Check Approval</button></a>
                        <a href="#DR"><button type="button" class="btn btn-outline-dark">Daily Reports</button></a>
                        <a href="#MR"><button type="button" class="btn btn-outline-dark">Monthly Reports</button></a>
                        <a href="#YR"><button type="button" class="btn btn-outline-dark">Yearly Reports</button></a>
                        <a href="#GL"><button type="button" class="btn btn-outline-dark">General Ledger</button></a>
                        <a href="#IAL"><button type="button" class="btn btn-outline-dark">Internal Ledger</button></a>
                        <a href="#ISL"><button type="button" class="btn btn-outline-dark">Industry Ledger</button></a>
                        <a href="#MB"><button type="button" class="btn btn-outline-dark">Main Bank Ledger</button></a>
                        @*<button type="button" class="btn btn-dark">Right</button>*@
                    </div>
                    @*</a>*@
                </div>
                <hr />


                <div class="header col-sm-12">
                    <a class="logo font-weight-bold font-weight-bolder">@Localizer["Accounts All Error Reports List"]</a>
                </div>

                @*-----------1-------------start---------------------------- Table for Daily Accounts Reports Repository List----------------------------------------------------------*@


                <hr />
                <hr />
                @*<div class="col-sm-12 Createbtn">
                        <a type="button" class="btn btn-primary" asp-area="Account" asp-controller="Bank" asp-action="BankCheckApprovelVoucher"><i class="fas fa-plus"> @Localizer["Create New Bank Check Approval Voucher"]</i> </a>
                    </div>*@
                <br />
                <div class="col-sm-12 text-center">
                    <a class="titleAccountofficeReport" scope="col" id="BCA" colspan="10">@Localizer["Bank Check Approvel Voucher List-Account Office"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="BCAReport">
                    <thead>
                        <tr class="Subhdr smallfontHeading">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr class="tabbody SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-area="Account" asp-controller="ErrorReports" asp-action=""><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item" asp-area="Account" asp-controller="ErrorReports" asp-action="" asp-route-id="" asp-route-hide=""><i class="fas fa-edit"></i> @Localizer["Edit"]</a>
                                        <a class="dropdown-item" asp-area="Account" asp-controller="ErrorReports" asp-action="" asp-route-remarks=""><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        <a class="dropdown-item" asp-area="Account" asp-controller="ErrorReports" asp-action=""><i class="fas fa-file-download"></i> @Localizer["Download"]</a>
                                        <a class="dropdown-item " asp-area="Account" asp-action="" asp-controller="Bnk" asp-route-remarks=""><i class="fas fa-send"></i> @Localizer["Send To C.E.O Office"]</a>

                                    </div>
                                </div>
                            </td>
                            <th> </th>
                            <th>@Localizer["Daily Meezan Bank Income-Expense Voucher Report"] </th>
                            <th></th>
                        </tr>

                    </tbody>
                </table>

                @*--------------------------*@
                <!--<hr />
                <div class="col-sm-12 text-center">
                    <a class="Title font-weight-bold" id="DR" colspan="10">@Localizer["Daily Accounts Reports Repository -Account Office"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="DARReport">
                    <thead>
                        <tr class="Subhdr SubH">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="SubH actionbtn">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View Report"]</a>-->
                @*<a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-edit"></i> @Localizer["Check Report"]</a>*@
                <!--<a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>-->
                @*<a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-file-download"></i> @Localizer["Download"]</a>*@
                @*<a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-send"></i> @Localizer["Send To D.G.M"]</a>*@
                <!--</div>
                                </div>
                            </td>
                            <td></td>
                            <td>@Localizer["Daily Accounts Reports Repository"] </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>-->
                <hr />
                <div class="col-sm-12 text-center">
                    <a class="Title font-weight-bold" id="DR" colspan="10">@Localizer["Daily Accounts Reports Repository -Account Office"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="DARReport">
                    <thead>
                        <tr class="Subhdr SubH">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*--------------------1-Daily Continue Report--------------*@
                        @foreach (var item in Model.aDailyCashes)
                        {
                            <tr>
                                <td scope="row" style="width:150px">

                                    <div class="btn-group" role="group">
                                        <a class="btn btn-primary text-white" asp-controller="DailyAccountReport" asp-action="IndexByNameRepository" asp-route-id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        @*<a class="btn btn-success text-white" asp-controller="DailyAccountReport" asp-action="TransactionSheet" asp-route-id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                                <i class="fas fa-list-alt"></i>
                                            </a>
                                            <a class="btn btn-primary text-white" asp-controller="DailyAccountReport" asp-action="BnkIndex" asp-route-Id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                                <i class="fas fa-landmark"></i>
                                            </a>
                                            <a class="btn btn-primary text-white" asp-controller="DailyAccountReport" asp-action="closngVoucher" asp-route-Id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                                <i class="fas fa-language"></i>
                                            </a>
                                            <a class="btn btn-primary text-white" asp-controller="DailyAccountReport" asp-action="DailyGeneralLedgerReport" asp-route-Id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                                <i class="fas fa-address-book"></i>
                                            </a>*@
                                        <a class="btn btn-primary text-white" asp-controller="Repository" asp-action="DeleteSheet" asp-route-remarks="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                                <td class="text-center" scope="col">@item.ValueDate </td>
                                <td class="text-center" scope="col">Daily Cash Continue Report</td>
                                <td class="text-center" scope="col">@item.Id</td>
                            </tr>
                            @*--------2-----Daily Cash Transaction Report-----------------*@
                            <tr>
                                <td scope="row" style="width:150px">

                                    <div class="btn-group" role="group">
                                        @*<a class="btn btn-primary text-white" asp-controller="DailyAccountReport" asp-action="IndexByName" asp-route-id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                                <i class="fas fa-edit"></i>
                                            </a>*@
                                        <a class="btn btn-success text-white" asp-controller="DailyAccountReport" asp-action="TransactionSheet" asp-route-id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                            <i class="fas fa-list-alt"></i>
                                        </a>
                                        @*<a class="btn btn-primary text-white" asp-controller="DailyAccountReport" asp-action="BnkIndex" asp-route-Id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                                <i class="fas fa-landmark"></i>
                                            </a>
                                            <a class="btn btn-primary text-white" asp-controller="DailyAccountReport" asp-action="closngVoucher" asp-route-Id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                                <i class="fas fa-language"></i>
                                            </a>*@
                                        @*<a class="btn btn-primary text-white" asp-controller="DailyAccountReport" asp-action="DailyGeneralLedgerReport" asp-route-Id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                                <i class="fas fa-address-book"></i>
                                            </a>*@
                                        <a class="btn btn-primary text-white" asp-controller="Repository" asp-action="DeleteSheet" asp-route-remarks="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                                <td class="text-center" scope="col">@item.ValueDate </td>
                                <td class="text-center" scope="col">Daily Transaction Report </td>
                                <td class="text-center" scope="col">@item.Id</td>
                            </tr>
                            @*---------3----Daily Cash Closing Report-----------------*@
                            <tr>
                                <td scope="row" style="width:150px">

                                    <div class="btn-group" role="group">
                                        @*<a class="btn btn-primary text-white" asp-controller="DailyAccountReport" asp-action="IndexByName" asp-route-id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                                                <i class="fas fa-edit"></i>
                                                            </a>
                                                            <a class="btn btn-success text-white" asp-controller="DailyAccountReport" asp-action="TransactionSheet" asp-route-id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                                <i class="fas fa-list-alt"></i>
                                            </a>*@
                                        <a class="btn btn-primary text-white" asp-controller="DailyAccountReport" asp-action="BnkIndex" asp-route-Id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                            <i class="fas fa-landmark"></i>
                                        </a>
                                        @*<a class="btn btn-primary text-white" asp-controller="DailyAccountReport" asp-action="closngVoucher" asp-route-Id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                                <i class="fas fa-language"></i>
                                            </a>*@
                                        @*<a class="btn btn-primary text-white" asp-controller="DailyAccountReport" asp-action="DailyGeneralLedgerReport" asp-route-Id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                                <i class="fas fa-address-book"></i>
                                            </a>*@
                                        <a class="btn btn-primary text-white" asp-controller="Repository" asp-action="DeleteSheet" asp-route-remarks="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                                <td class="text-center" scope="col">@item.ValueDate </td>
                                <td class="text-center" scope="col">Daily Cash Closing Report </td>
                                <td class="text-center" scope="col">@item.Id</td>
                            </tr>
                            @*--------4-----Daily Cash Closing Voucher Report-----------------*@
                            <tr>
                                <td scope="row" style="width:150px">

                                    <div class="btn-group" role="group">
                                        @*<a class="btn btn-primary text-white" asp-controller="DailyAccountReport" asp-action="IndexByName" asp-route-id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                                                <i class="fas fa-edit"></i>
                                                            </a>
                                                            <a class="btn btn-success text-white" asp-controller="DailyAccountReport" asp-action="TransactionSheet" asp-route-id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                                <i class="fas fa-list-alt"></i>
                                            </a>
                                            <a class="btn btn-primary text-white" asp-controller="DailyAccountReport" asp-action="BnkIndex" asp-route-Id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                                <i class="fas fa-landmark"></i>
                                            </a>*@
                                        <a class="btn btn-primary text-white" asp-controller="DailyAccountReport" asp-action="closngVoucher" asp-route-Id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                            <i class="fas fa-language"></i>
                                        </a>
                                        @*<a class="btn btn-primary text-white" asp-controller="DailyAccountReport" asp-action="DailyGeneralLedgerReport" asp-route-Id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                                <i class="fas fa-address-book"></i>
                                            </a>*@
                                        <a class="btn btn-primary text-white" asp-controller="Repository" asp-action="DeleteSheet" asp-route-remarks="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                                <td class="text-center" scope="col">@item.ValueDate </td>
                                <td class="text-center" scope="col">Daily Cash Closing Voucher Report </td>
                                <td class="text-center" scope="col">@item.Id</td>
                            </tr>
                            @*--------5-----Daily Daily General Ledger Report-----------------*@
                            <tr>
                                <td scope="row" style="width:150px">

                                    <div class="btn-group" role="group">
                                        @*<a class="btn btn-primary text-white" asp-controller="DailyAccountReport" asp-action="IndexByName" asp-route-id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                                                <i class="fas fa-edit"></i>
                                                            </a>
                                                            <a class="btn btn-success text-white" asp-controller="DailyAccountReport" asp-action="TransactionSheet" asp-route-id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                                <i class="fas fa-list-alt"></i>
                                            </a>
                                            <a class="btn btn-primary text-white" asp-controller="DailyAccountReport" asp-action="BnkIndex" asp-route-Id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                                <i class="fas fa-landmark"></i>
                                            </a>
                                            <a class="btn btn-primary text-white" asp-controller="DailyAccountReport" asp-action="closngVoucher" asp-route-Id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                                <i class="fas fa-language"></i>
                                            </a>*@
                                        <a class="btn btn-primary text-white" asp-controller="DailyAccountReport" asp-action="DailyGeneralLedgerReport" asp-route-Id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                            <i class="fas fa-address-book"></i>
                                        </a>
                                        <a class="btn btn-primary text-white" asp-controller="Repository" asp-action="DeleteSheet" asp-route-remarks="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                                <td class="text-center" scope="col">@item.ValueDate </td>
                                <td class="text-center" scope="col">Daily General Ledger Report </td>
                                <td class="text-center" scope="col">@item.Id</td>
                            </tr>
                            @*----------5---Daily Daily General Ledger Report-----------------*@
                        }


                        @*-------------Daily Meezan Bank IE Report-----------------*@
                        @foreach (var item in Model.Bank)
                        {
                            <tr>
                                <td scope="row" style="width:150px">

                                    <div class="btn-group" role="group">
                                        <a class="btn btn-primary text-white" asp-controller="DailyAccountReport" asp-action="DailyMeezanBankIEReport2" asp-route-Id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                            <i class="fas fa-address-book"></i>
                                        </a><a class="btn btn-primary text-white" asp-controller="Repository" asp-action="DeleteMeezanSheet" asp-route-remarks="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                                <td class="text-center" scope="col">@item.ValueDate </td>
                                <td class="text-center" scope="col">Daily Meezan Bank IE Report  </td>
                                <td class="text-center" scope="col">@item.Id</td>
                            </tr>
                        }
                        @*-------------Daily Supplier Cash Transaction Report---------------*@
                        @foreach (var item in Model.dSuppliers)
                        {
                            <tr>
                                <td scope="row" style="width:150px">

                                    <div class="btn-group" role="group">
                                        <a class="btn btn-primary text-white" asp-controller="DailyAccountReport" asp-action="DailySuppliersCashTransactionReport2" asp-route-Id="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                            <i class="fas fa-address-book"></i>
                                        </a>
                                        <a class="btn btn-primary text-white" asp-controller="Repository" asp-action="DeleteSupplierSheet" asp-route-remarks="@item.ValueDate.ToString("yyyy-MM-dd")" asp-route-hide="false">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                                <td class="text-center" scope="col">@item.ValueDate </td>
                                <td class="text-center" scope="col">Daily Supplier Cash Transaction Report </td>
                                <td class="text-center" scope="col">@item.Id</td>
                            </tr>
                        }
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Daily Accounts Reports Repository List----------------------------------------------------------*@

                @*------------------------start---------------------------- Table for Monthly Accounts Reports Repository  List----------------------------------------------------------*@
                <hr />
                <div class="col-sm-12 text-center">
                    <a class="Title font-weight-bold" id="MR" colspan="10">@Localizer["Monthly Accounts Reports Repository -Account Office"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="MARReport">
                    <thead>
                        <tr class="SubH Subhdr">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-edit"></i> @Localizer["Check Report"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-file-download"></i> @Localizer["Download"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-send"></i> @Localizer["Send To D.G.M"]</a>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>@Localizer["Monthly Accounts Reports Repository"] </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Monthly Accounts Reports Repository  List----------------------------------------------------------*@


                @*------------------------start---------------------------- Table for Yearly Accounts Reports Repository  List----------------------------------------------------------*@
                <hr />
                <div class="col-sm-12 text-center">
                    <a class="Title font-weight-bold" id="YR" colspan="10">@Localizer["Yearly Accounts Reports Repository -Account Office"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="YARReport">
                    <thead>
                        <tr class="SubH Subhdr">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-edit"></i> @Localizer["Check Report"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-file-download"></i> @Localizer["Download"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-send"></i> @Localizer["Send To D.G.M"]</a>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>@Localizer["Yearly Accounts Reports Repository"] </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Yearly Accounts Reports Repository  List----------------------------------------------------------*@



                @*------------------------start---------------------------- Table for Audit Accounts Reports Repository  List----------------------------------------------------------*@
                <hr />
                <div class="col-sm-12 text-center">
                    <a class="Title font-weight-bold" id="GL" colspan="10">@Localizer["General Ledger Reports Repository"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="GLRReport">
                    <thead>
                        <tr class="SubH Subhdr">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-edit"></i> @Localizer["Check Report"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-file-download"></i> @Localizer["Download"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-send"></i> @Localizer["Send To D.G.M"]</a>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>@Localizer["General Ledger Reports"] </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Audit Accounts Reports Repository  List----------------------------------------------------------*@
                @*------------------------start---------------------------- Table for Audit Accounts Reports Repository  List----------------------------------------------------------*@
                <hr />
                <div class="col-sm-12 text-center">
                    <a class="Title font-weight-bold" id="IAL" colspan="10">@Localizer["Internal Account Ledger Reports Repository"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="IARReport">
                    <thead>
                        <tr class="SubH Subhdr">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-edit"></i> @Localizer["Check Report"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-file-download"></i> @Localizer["Download"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-send"></i> @Localizer["Send To D.G.M"]</a>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>@Localizer["Internal Account Ledger Report"] </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Audit Accounts Reports Repository  List----------------------------------------------------------*@
                @*------------------------start---------------------------- Table for Audit Accounts Reports Repository  List----------------------------------------------------------*@
                <hr />
                <div class="col-sm-12 text-center">
                    <a class="Title font-weight-bold" id="ISL" colspan="10">@Localizer["Industry Supplier Ledger Reports"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="ISRReport">
                    <thead>
                        <tr class="SubH Subhdr">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-edit"></i> @Localizer["Check Report"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-file-download"></i> @Localizer["Download"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-send"></i> @Localizer["Send To D.G.M"]</a>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>@Localizer["Industry Supplier Ledger Reports"] </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Audit Accounts Reports Repository  List----------------------------------------------------------*@
                @*------------------------start---------------------------- Table for Audit Accounts Reports Repository  List----------------------------------------------------------*@
                <hr />
                <div class="col-sm-12 text-center">
                    <a class="Title font-weight-bold" id="MB" colspan="10">@Localizer["Main Bank Account Ledger Reports"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="MBRReport">
                    <thead>
                        <tr class="SubH Subhdr">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-edit"></i> @Localizer["Check Report"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-file-download"></i> @Localizer["Download"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-send"></i> @Localizer["Send To D.G.M"]</a>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>@Localizer["Main Bank Account Ledger Reports"] </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Audit Accounts Reports Repository  List----------------------------------------------------------*@
            </form>
        </div>
    </div>
</body>
<!-- back to top button-->
<a id="button"></a>
@*----------Body Code for this Page----------------------------------Ended---------------------Body----------------*@

@*----------JS for this Page-----------------------------------------Start---------------------JS----------------*@
@section Scripts{

    <script>
        ////---------JS for Back To Top Button On Each Page------------------Start-------
        var btn = $('#button');

        $(window).scroll(function () {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });

        btn.on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, '300');
        });
        //--------------
        $(document).ready(function () {
            $('#BCAReport').DataTable({
                "sPaginationType": "full_numbers"
            });
        });
    </script>
    @*//----------------*@
    <script>
        $(document).ready(function () {
            $('#DARReport').DataTable({
                "sPaginationType": "full_numbers"
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#MARReport').DataTable({
                "sPaginationType": "full_numbers"
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#YARReport').DataTable({
                "sPaginationType": "full_numbers"
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#AARReport').DataTable({
                "sPaginationType": "full_numbers"
            });
        });
        //------------
    </script>

    <script>
        $(document).ready(function () {
            $('#GLRReport').DataTable({
                "sPaginationType": "full_numbers"
            });
        });
        //------------
    </script>
    <script>
        $(document).ready(function () {
            $('#IARReport').DataTable({
                "sPaginationType": "full_numbers"
            });
        });
        //------------
    </script>
    <script>
        $(document).ready(function () {
            $('#ISRReport').DataTable({
                "sPaginationType": "full_numbers"
            });
        });
        //------------
    </script>
    <script>
        $(document).ready(function () {
            $('#MBRReport').DataTable({
                "sPaginationType": "full_numbers"
            });
        });
                            //------------
}
@*----------JS for this Page-----------------------------------------Ended----------------------JS---------------*@

@*----------CSS for this Page----------------------------------------Start----------------------CSS---------------*@
<style>
    body {
        font-family: 'Jameel Noori Nastaleeq';
    }
    /*-----these clases is for Background  Account Office----*/
    .search-background {
        background: url('../Image/dust_scratches.png');
    }

    .backgroundWhite {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    .backgroundWhiteBorder {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
        border: 1px solid #ddd;
    }

    .backgroundWhiteBorder10Padding {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ddd;
    }
    /*//--CSS For Create button & Action Button of Each Page------start---------*/
    .Createbtn {
        font-family: 'Jameel Noori Nastaleeq';
        font-size: large;
        text-align: right;
    }

    .actionbtn {
        width: 150px;
        text-align: center;
    }

    .titleAccountofficeReport {
        font-family: 'Jameel Noori Nastaleeq';
        font-size: xx-large;
        font-weight: bold;
    }
    /*  Css for Table of Each in Accounts----*/
    .table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #ddd;
        table-layout: fixed;
        width: 100%
    }
    /*  Css for small Size of Content----*/
    .SubH {
        text-align: center;
        font-family: 'Jameel Noori Nastaleeq';
        font-size: medium;
    }
    /*page print css----*/
    .btn-theme {
        background: #08818c;
        color: #fff;
    }

    .btn {
        font-family: arial;
    }

    .btn-print {
        padding: 10px 24px;
        font-size: 16px;
        line-height: 1.33;
        vertical-align: middle;
        float: left;
    }

    .PrintP {
        margin-left: 985px;
        position: absolute;
        margin-top: -45px;
    }
    /*  Css for BackToList Button----*/
    .BackToList {
        width: 150px;
    }

    .textarea {
        height: 60px;
    }
    /*Mostly USes Css Classes userprofile/footer/backtolist/table/backtotopbtn/smallheading/subh/print --for Accounts Department- start*/
    .Title {
        font-size: xx-large;
        font-family: 'Jameel Noori Nastaleeq';
        text-align: center;
        color: black;
    }
    /*  Css for Sub Heading of table----*/
    .Subhdr {
        color: white;
        text-align: center;
        background-color: slategrey;
    }
    /*  Css for Small Content Of Accounts----*/
    .smallfontHeading {
        font-size: medium;
    }
    /* Css for Table Body on each page in Accounts----*/
    .tabbody {
        text-align: center;
        color: black;
    }
    /* Css for Heading on every Sheet of ccount office----*/
    .header {
        overflow: hidden;
        padding: 10px 10px;
        font-size: 40px;
        font-family: 'Jameel Noori Nastaleeq';
        text-align: center;
    }

    .topbtnlist {
        overflow: hidden;
        padding: 1px 1px;
        font-size: 40px;
        font-family: 'Jameel Noori Nastaleeq';
        text-align: center;
    }

    html {
        scroll-behavior: smooth;
    }
</style>
@*----------CSS for this Page----------------------------------------Ended-----------------------CSS--------------*@

