@*----------Header Code for this Page--------------------------------Start-------------------Header------------------*@
@*---Language Tranlator--Localizer*@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "DgmErrorReportList";
    Layout = "~/Views/Shared/_LayoutDgm.cshtml";
}

@*----------Header Code for this Page--------------------------------Ended-------------------Header------------------*@

@*----------Body Code for this Page----------------------------------Start---------------------Body----------------*@
<br />
<body>
    <div class="container-fluid backgroundWhiteBorder10Padding">
        <div class="row">
            <form class="tabled col-sm-12 SubH">

                <div class="topbtnlist col-sm-12">
                    @*<a class="logo font-weight-bold font-weight-bolder">*@
                    <div class="btn-group">
                        <a href="#DR"><button type="button" class="btn btn-outline-dark">Daily Reports</button></a>
                        <a href="#MR"><button type="button" class="btn btn-outline-dark">Monthly Reports</button></a>
                        <a href="#YR"><button type="button" class="btn btn-outline-dark">Yearly Reports</button></a>
                        <a href="#AR"><button type="button" class="btn btn-outline-dark">Audit Report</button></a>

                        @*<button type="button" class="btn btn-dark">Right</button>*@
                    </div>
                    @*</a>*@
                </div>
                <hr />
                <div class="header col-sm-12">
                    <a class="logo font-weight-bold font-weight-bolder">@Localizer["D.G.M All Error Reports List"]</a>
                </div>

                @*-----------1-------------start---------------------------- Table for Daily D.G.M Reports Repository List----------------------------------------------------------*@

                <hr />
                <hr />
                <div class="col-sm-12 text-center">
                    <a class="titleDgmRepositoryReport" id="DR" colspan="10">@Localizer["Daily D.G.M Reports Repository"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="DARReport">
                    <thead>
                        <tr class="Subhdr SubH">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>


                        <tr class="SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-edit"></i> @Localizer["Check Report"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-send"></i> @Localizer["Send To G.M"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-file-download"></i> @Localizer["Download"]</a>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>@Localizer["Daily D.G.M Reports Repository"] </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Daily D.G.M Reports Repository List----------------------------------------------------------*@

                @*------------------------start---------------------------- Table for Monthly D.G.M Reports Repository  List----------------------------------------------------------*@
                <hr />
                <div class="col-sm-12 text-center">
                    <a class="titleDgmRepositoryReport" id="MR" colspan="10">@Localizer["Monthly D.G.M Reports Repository"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="MARReport">
                    <thead>
                        <tr class="Subhdr SubH">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-edit"></i> @Localizer["Check Report"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-send"></i> @Localizer["Send To G.M"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-file-download"></i> @Localizer["Download"]</a>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>@Localizer["Monthly D.G.M Reports Repository"] </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Monthly D.G.M Reports Repository  List----------------------------------------------------------*@


                @*------------------------start---------------------------- Table for Yearly D.G.M Reports Repository  List----------------------------------------------------------*@
                <hr />
                <div class="col-sm-12 text-center">
                    <a class="titleDgmRepositoryReport" id="YR" colspan="10">@Localizer["Yearly D.G.M Reports Repository"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="YARReport">
                    <thead>
                        <tr class="Subhdr SubH">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tabbody SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-edit"></i> @Localizer["Check Report"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-send"></i> @Localizer["Send To G.M"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-file-download"></i> @Localizer["Download"]</a>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>@Localizer["Yearly D.G.M Reports Repository"] </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Yearly D.G.M Reports Repository  List----------------------------------------------------------*@


                @*------------------------start---------------------------- Table for Audit D.G.M Reports Repository  List----------------------------------------------------------*@
                <hr />
                <div class="col-sm-12 text-center">
                    <a class="titleDgmRepositoryReport" id="AR" colspan="10">@Localizer["Audit D.G.M Reports Repository"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="AARReport">
                    <thead>
                        <tr class="Subhdr SubH">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tabbody SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-edit"></i> @Localizer["Check Report"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-send"></i> @Localizer["Send To G.M"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-file-download"></i> @Localizer["Download"]</a>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>@Localizer["Audit D.G.M Reports Repository"] </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Audit D.G.M Reports Repository  List----------------------------------------------------------*@
            </form>
        </div>
    </div>
</body>

<!-- back to top button-->
<a id="button"></a>

@*----------Body Code for this Page----------------------------------Ended---------------------Body----------------*@

@*----------JS for this Page-----------------------------------------Start---------------------JS----------------*@
@section scripts{
    <script>

        $(document).ready(function () {
            $('#DARReport').DataTable({
                "sPaginationType": "full_numbers"
            });
        });


        $(document).ready(function () {
            $('#MARReport').DataTable({
                "sPaginationType": "full_numbers"
            });
        });


        $(document).ready(function () {
            $('#YARReport').DataTable({
                "sPaginationType": "full_numbers"
            });
        });


        $(document).ready(function () {
            $('#AARReport').DataTable({
                "sPaginationType": "full_numbers"
            });
        });
    </script>

}
@*----------JS for this Page-----------------------------------------Ended----------------------JS---------------*@

@*----------CSS for this Page----------------------------------------Start----------------------CSS---------------*@
<style>
    .table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #ddd;
        table-layout: fixed;
        width: 100%
    }

    .DgmLUBook {
        text-align: right;
        text-align: justify;
        direction: rtl;
    }

    .titleLaw {
        text-align: left;
        font-weight: bold;
    }

    .titleDgmRepositoryReport {
        font-family: 'Jameel Noori Nastaleeq';
        font-size: xx-large;
        font-weight: bold;
    }
    /*page print css----*/
    .btn-theme {
        background: #08818c;
        color: #fff;
    }

    .btn {
        font-family: arial;
    }

    .btn-print {
        padding: 10px 24px;
        font-size: 16px;
        line-height: 1.33;
        vertical-align: middle;
        float: left;
    }

    .PrintP {
        margin-left: 985px;
        position: absolute;
        margin-top: -50px;
    }

    /*page print css----*/

    .header {
        overflow: hidden;
        padding: 10px 10px;
        font-size: 40px;
        font-family: 'Jameel Noori Nastaleeq';
        text-align: center;
    }

    body {
        font-family: 'Jameel Noori Nastaleeq';
    }

    body {
        font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        color: #333;
        background-color: #fff;
    }

    .Createbtn {
        font-family: 'Jameel Noori Nastaleeq';
        font-size: large;
        text-align: right;
    }

    .actionbtn {
        width: 150px;
        text-align: center;
    }

    .SubH {
        text-align: center;
        font-family: 'Jameel Noori Nastaleeq';
        font-size: medium;
    }



    .Subhdr {
        color: white;
        text-align: center;
        background-color: slategrey;
    }

    .tabbody {
        text-align: center;
        color: black;
    }

    html {
        scroll-behavior: smooth;
    }

    .topbtnlist {
        overflow: hidden;
        padding: 1px 1px;
        font-size: 40px;
        font-family: 'Jameel Noori Nastaleeq';
        text-align: center;
    }
</style>
@*----------CSS for this Page----------------------------------------Ended-----------------------CSS--------------*@



