@model AJWManagementPortal.Models.ViewModels.GeneralLedgerBookListViewModel
@*----------Header Code for this Page--------------------------------Start-------------------Header------------------*@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = "GeneralLedgerBookList";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
@*----------Header Code for this Page--------------------------------Ended-------------------Header------------------*@

@*----------Body Code for this Page----------------------------------Start---------------------Body----------------*@
@*This HTML for ::General Ledger List for Account Offcie::*@
<br />
<body>
    <div class="container-fluid backgroundWhiteBorder10Padding">
        <div class="row">
            <div class="header col-sm-12">
                <a class="logo font-weight-bold font-weight-bolder">@Localizer["General Ledger Book Reports List"]</a>
            </div>
            @*----------start-----general ledger  report lisst------------------*@
            <form class="col-sm-12">
                @*------------------------ended---------------------------- Table for Daily GeneralLedgerBook List----------------------------------------------------------*@
                @*------------------------start---------------------------- Table for Monthly GeneralLedgerBook List----------------------------------------------------------*@
                <hr />
                <div class="col-sm-12  Createbtn">
                    <a type="button" class="btn btn-primary" asp-area="Account" asp-controller="GeneralLedger" asp-action="MonthlyGeneralLedgerBook"><i class="fas fa-plus"> @Localizer["Create New Monthly Industry Internal Account-General Ledger"]</i> </a>
                </div>
                <br />
                <div class="col-sm-12 text-center">
                    <a class="titleAccountofficeReport" colspan="10">@Localizer["Monthly Industry Internal Account-General Ledger-Account Office"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="MGLBook">
                    <thead>
                        <tr class="Subhdr SubH">
                            <th>@Localizer["ID#"]</th>
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MonthlyGeneralLedgerBooks)
                        {
                            <tr>
                                <td class="text-center" scope="col">@item.DailyCashId</td>
                                <td class="actionbtn">
                                    <div class="btn-group">
                                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @Localizer["Action"]
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" asp-action="ViewMonthlyGeneralLedgerBook" asp-route-Id="@item.DailyCashDate.ToString("yyyy-MM-dd")" asp-route-hide="true"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                            <a class="dropdown-item" asp-action="EditMonthlyGeneralLedgerBook" asp-route-Id="@item.DailyCashDate.ToString("yyyy-MM-dd")" asp-route-hide="false"><i class="fas fa-edit"></i> @Localizer["Edit"]</a>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center" scope="col"> @item.DailyCashDate.ToString("MMMM") - @Convert.ToDateTime(@item.DailyCashDate).Year </td>
                                <td class="text-center" scope="col">Monthly Industry Internal Account-General Ledger report</td>
                            </tr>
                        }
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Monthly GeneralLedgerBook List----------------------------------------------------------*@
                @*------------------------start---------------------------- Table for Yearly GeneralLedgerBook List----------------------------------------------------------*@
                <hr />
                <div class="col-sm-12 Createbtn">
                    <a type="button" class="btn btn-primary" asp-area="Account" asp-controller="GeneralLedger" asp-action="YearlyGeneralLedgerBook"><i class="fas fa-plus"> @Localizer["Create New Yearly Industry Internal Account-General Ledger"]</i> </a>
                </div>
                <br />
                <div class="col-sm-12 text-center">
                    <a class="titleAccountofficeReport" colspan="10">@Localizer["Yearly Industry Internal Account-General Ledger-Account Office"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="YGLBook">
                    <thead>
                        <tr class="Subhdr SubH">
                            <th>@Localizer["ID#"]</th>
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.YearlyGeneralLedgerBooks)
                        {
                            <tr>
                                <td class="text-center" scope="col">@item.DailyCashId</td>
                                <td class="actionbtn">
                                    <div class="btn-group">
                                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @Localizer["Action"]
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" asp-action="ViewYearlyGeneralLedgerBook" asp-route-Id="@item.DailyCashDate.ToString("yyyy-MM-dd")" asp-route-hide="true"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center" scope="col">@Convert.ToDateTime(@item.DailyCashDate).Year</td>
                                <td class="text-center" scope="col">Yearly Industry Internal Account-General Ledger report</td>
                            </tr>
                        }
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Yearly GeneralLedgerBook List----------------------------------------------------------*@
            </form>
        </div>
    </div>
</body>
<!-- back to top button-->
<a id="button"></a>

@*----------Body Code for this Page----------------------------------Ended---------------------Body----------------*@

@*----------JS for this Page-----------------------------------------Start---------------------JS----------------*@
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#DGLBook').DataTable({
                "sPaginationType": "full_numbers"
            });
        });

        $(document).ready(function () {
            $('#MGLBook').DataTable({
                "sPaginationType": "full_numbers"
            });
        });

        $(document).ready(function () {
            $('#YGLBook').DataTable({
                "sPaginationType": "full_numbers"
            });
        });
    </script>
}
@*----------JS for this Page-----------------------------------------Ended----------------------JS---------------*@

@*----------CSS for this Page----------------------------------------Start----------------------CSS---------------*@
<style>


    body {
        font-family: 'Jameel Noori Nastaleeq';
    }

    body {
        font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        color: #333;
        background-color: #fff;
    }
    /*-----these clases is for Background  Account Office----*/
    .search-background {
        background: url('../Image/dust_scratches.png');
    }

    .backgroundWhite {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    .backgroundWhiteBorder {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
        border: 1px solid #ddd;
    }

    .backgroundWhiteBorder10Padding {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ddd;
    }
    /*//--CSS For Create button & Action Button of Each Page------start---------*/
    .Createbtn {
        font-family: 'Jameel Noori Nastaleeq';
        font-size: large;
        text-align: right;
    }

    .actionbtn {
        width: 150px;
        text-align: center;
    }

    .titleAccountofficeReport {
        font-family: 'Jameel Noori Nastaleeq';
        font-size: xx-large;
        font-weight: bold;
    }
    /*  Css for Table of Each in Accounts----*/
    .table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #ddd;
        table-layout: fixed;
        width: 100%
    }

    .Subhdr {
        color: white;
        text-align: center;
        background-color: slategrey;
    }
    /*  Css for small Size of Content----*/
    .SubH {
        text-align: center;
        font-family: 'Jameel Noori Nastaleeq';
        font-size: medium;
    }
    /*page print css----*/
    .btn-theme {
        background: #08818c;
        color: #fff;
    }

    .btn {
        font-family: arial;
    }

    .btn-print {
        padding: 10px 24px;
        font-size: 16px;
        line-height: 1.33;
        vertical-align: middle;
        float: left;
    }

    .PrintP {
        margin-left: 985px;
        position: absolute;
        margin-top: -45px;
    }
    /*  Css for BackToList Button----*/
    .BackToList {
        width: 150px;
    }

    .textarea {
        height: 60px;
    }
    /* Css for Heading on every Sheet of ccount office----*/
    .header {
        overflow: hidden;
        padding: 10px 10px;
        font-size: 40px;
        font-family: 'Jameel Noori Nastaleeq';
        text-align: center;
    }
    /* Css for Table Body on each page in Accounts----*/
    .tabbody {
        text-align: center;
        color: black;
    }
</style>
@*----------CSS for this Page----------------------------------------Ended-----------------------CSS--------------*@
