@model AJWManagementPortal.Models.TransAndBank
@*----------Header Code for this Page--------------------------------Start-------------------Header------------------*@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "MonthlyGeneralLedgerBook";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

@{
    var Balance = 0.00;

    aDailyCash teswp = new aDailyCash();
    DateTime today = DateTime.Today;
    if (Model.date != null)
    {
        today = Model.date;
    }
}

@*----------Header Code for this Page--------------------------------Ended-------------------Header------------------*@

@*----------Body Code for this Page----------------------------------Start---------------------Body----------------*@
@*This HTML For ::Monthly Genenral Ledger =View for Account Office::*@

<br />
<body>
    @*main transaction sheet*@
    <div class="container-fluid backgroundWhiteBorder10Padding">
        <div class="row">
            <form class="col-sm-12">
                <div class="BackToList">
                    <a type="button" asp-action="GeneralLedgerBookList" asp-area="Account" asp-controller="GeneralLedger" class="btn btn-primary btn-sm form-control"><i class="fas fa-backward"></i> @Localizer["Back to List"]</a>
                </div>
                <div class="PrintP">
                    <button class="btn btn-theme btn-print" onclick="myFunction()"> Print <i class="fa fa-print" aria-hidden="true"></i></button>
                </div>

                <table class="table table-bordered table-hover table-striped table-responsive-sm SubH" id="tblcustomers">
                    <thead>
                        <tr class="text-center">
                            <th colspan="29"><img src="~/Image/1.png" alt="Image" width="100" height="100" /></th>
                        </tr>
                        <tr>
                            <th class="titleAccountofficeReport" colspan="29">@Localizer["Monthly General Ledger Report-Account Office"] </th>
                        </tr>
                        <tr>
                            <th class="text-left" colspan="29" id="date"><span class=""> @Localizer["Date"]: </span> </th>
                        </tr>
                        <tr>
                            <th class="text-center" colspan="2">@Localizer["ID#"]</th>
                            <th class="text-center" colspan="3">@Localizer["Balance"]</th>
                            <th class="text-center" colspan="3">@Localizer["Credit"]</th>
                            <th class="text-center" colspan="3">@Localizer["Debit"]</th>
                            <th class="text-center" colspan="2">@Localizer["P-Order"]<br>@Localizer["Checq-No"]</th>
                            <th class="text-center" scope="col" colspan="5">@Localizer["Ledger Type"]</th>
                            <th class="text-center" scope="col" colspan="5">@Localizer["Description"]</th>
                            <th class="text-center" colspan="6">@Localizer["Date"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.aDailyCashes)
                        {
                            teswp.ValueDate = @item.ValueDate;
                            teswp.Remarks = @item.Remarks;
                            teswp.SignPManager = @item.SignPManager;
                            teswp.PManagerRemarks = @item.PManagerRemarks;
                            teswp.SignGM = item.SignGM;
                            teswp.GMRemarks = @item.GMRemarks;
                            teswp.SignCeo = @item.SignCeo;
                            teswp.CeoRemarks = @item.CeoRemarks;

                            if (item.clearedAmount != 0 || item.income != 0 /*item.ValueDate == today*/)
                            {
                                <tr>
                                    <td colspan="2">@item.Id</td>
                                    <td colspan="3">
                                        @{
                                            Balance += item.income - item.clearedAmount;
                                        }
                                        @Balance
                                    </td>
                                    <td colspan="3">@item.clearedAmount</td>
                                    <td colspan="3">@item.income</td>
                                    <td colspan="2">@item.pOrder</td>
                                    <td colspan="5">
                                        <select id="txtName" style="box-sizing:border-box;height:50px;width:170px;margin:auto" class="form-control">
                                            <option>@item.LedgerType</option>
                                            <option>@Localizer["Select Ledger Type"]</option>
                                            <option>@Localizer["Meezan Bank Account"]</option>
                                            <option>@Localizer["Punjab Bank Account"]</option>
                                            <option>@Localizer["Petty Cash Account"]</option>
                                            <option>@Localizer["Industry Mobile Balance"]</option>
                                            <option>@Localizer["Asim Sahib Special Budget"]  </option>
                                            <option>@Localizer["Employee Monthly Salary(Bank Account)"]  </option>
                                            <option>@Localizer["Employee Monthly Salary(Internal Account)"]  </option>
                                            <option>@Localizer["Social Security Fee"]  </option>
                                            <option>@Localizer["EOBI Monthly Fee"] </option>
                                            <option>@Localizer["Industry Internet Package"]  </option>
                                            <option>@Localizer["Industry Motorcycle Service"]  </option>
                                            <option>@Localizer["Electric Material"]  </option>
                                            <option>@Localizer["Accessory Material"] </option>
                                            <option>@Localizer["Stationary Material"]  </option>
                                            <option>@Localizer["Store Material"]  </option>
                                            <option>@Localizer["Civil Work Material"] </option>
                                            <option>@Localizer["Industry Milk Bill"]  </option>
                                            <option>@Localizer["Industry Electric Bill"]  </option>
                                            <option>@Localizer["Transportation"] </option>
                                            <option>@Localizer["Staff Advance"]  </option>
                                            <option>@Localizer["Staff Loan"]  </option>
                                            <option>@Localizer["Accessory Repairing"]  </option>
                                            <option>@Localizer["Labour Wages"]  </option>
                                            <option>@Localizer["Mutafariq"]  </option>
                                            <option>@Localizer["Internal Account Closing Balance Receipt"]  </option>
                                            <option>@Localizer["Closing Balance + Bank"]  </option>
                                            <option>@Localizer["Industry Kitchen Material"]  </option>
                                            <option>@Localizer["Petty Cash Expense(Internal Account)"]</option>
                                            <option>@Localizer["Gate Pass Expense"]  </option>
                                            <option>@Localizer["Rafiq Iron(MianChannu)"] </option>
                                            <option>@Localizer["Salamat Paint House"]  </option>
                                            <option>@Localizer["Bhutta Agro Hardware(MianChannu)"]  </option>
                                            <option>@Localizer["Nadeem Jawaid Bearing(MianChannu)"]  </option>
                                            <option>@Localizer["Ali Sanitary Store(MianChannu)"]  </option>
                                            <option>@Localizer["Rooba digital(MianChannu)"]  </option>
                                            <option>@Localizer["Saeed Electric Store(MianChannu)"]  </option>
                                            <option>@Localizer["Ayoub Petrolium Service(Tulamba)"]</option>
                                            <option>@Localizer["Sadiq Aluminium(MakhdoomPur)"]  </option>
                                            <option>@Localizer["Khursheed Iron Store(MianChannu)"]  </option>
                                            <option>@Localizer["Mughal Iron Store(Tulamba)"]  </option>
                                            <option>@Localizer["Tariq Autos(Tulamba)"]  </option>
                                            <option>@Localizer["Live Up Water Supply(Tulamba)"]  </option>
                                            <option>@Localizer["Mughal Interiors(CNC Plasma Machine)"]  </option>
                                            <option>@Localizer["Lucky Autos(Tulamba)"]  </option>
                                            <option>@Localizer["Gillani Shoping Center(Tulamba)"]  </option>
                                            <option>@Localizer["Markaz Atab(MianChannu)"] </option>
                                        </select>
                                    </td>
                                    <td colspan="5">@item.Description</td>
                                    <td colspan="6">@item.ValueDate</td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr id="total">
                            <th colspan="2" id="t"></th>
                            <th colspan="3" id="t1"></th>
                            <th colspan="3" id="t2"></th>
                            <th colspan="3" id="t3"></th>
                            <th colspan="2" id="t4"></th>
                            <th colspan="16" id="t5">@Localizer["Total"] : </th>
                        </tr>
                        <tr>
                            <td colspan="29"></td>
                        </tr>
                        <tr>
                            <th colspan="29">@Localizer["Signature"]</th>
                        </tr>
                        <tr>
                            <th scope="row" colspan="10">@Localizer["Account Manager"]</th>
                            <th colspan="9">@Localizer["D.G.M"]</th>
                            <th colspan="10">@Localizer["G.M"]</th>
                        </tr>
                        <tr>
                            <td colspan="10">
                                @Localizer["Signature"]:
                                <input type="text" id="txtpmsign" name="txtpmsign" value="@teswp.SignPManager" class="form-control" />
                                @Localizer["Remarks"]:
                                <input type="text" id="txtpmremarks" name="txtpmremarks" value="@teswp.PManagerRemarks" class="form-control" />
                            </td>
                            <td colspan="9">
                                @*@if (!Model.hide)
                                    {*@
                                @*@Localizer["Signature"]:*@
                                <input hidden type="text" id="txtgmsign" name="txtgmsign" class="form-control" value="@teswp.SignGM" />
                                @*@Localizer["Remarks"]:*@
                                <input hidden type="text" id="txtgmremarks" name="txtgmremarks" value="@teswp.GMRemarks" class="form-control" />

                                @*}
                                    else
                                    {*@
                                @*@Localizer["Signature"]:*@
                                @*<input type="hidden" id="txtgmsign" name="txtgmsign" class="form-control" value="@teswp.SignGM" />*@
                                @*@Localizer["Remarks"]:*@
                                @*<input type="hidden" id="txtgmremarks" name="txtgmremarks" value="@teswp.GMRemarks" class="form-control" />*@
                                @*}*@
                            </td>
                            <td colspan="10">
                                @*@if (!Model.hide)
                                    {*@
                                @*@Localizer["Signature"]:*@
                                <input hidden type="text" id="txtceosign" name="txtceosign" class="form-control" value="@teswp.SignCeo" />
                                @*@Localizer["Remarks"]:*@
                                <input hidden type="text" id="txtceoremarks" name="txtceoremarks" class="form-control" value="@teswp.CeoRemarks" />

                                @*}
                                    else {*@
                                @*@Localizer["Signature"]:*@
                                @*<input type="hidden" id="txtceosign" name="txtceosign" class="form-control" value="@teswp.SignCeo" />*@
                                @*@Localizer["Remarks"]:*@
                                @*<input type="hidden" id="txtceoremarks" name="txtceoremarks" class="form-control" value="@teswp.CeoRemarks" />*@
                                @*}<input type="hidden" id="status" name="status" class="form-control" value="@teswp.Status" />*@
                            </td>
                        </tr>

                        @*sign table end here*@
                        <tr>
                            @*<td colspan="33">
                                     <button type="button" class="btn btn-primary btn-sm btn-block form-control" id="btnManthlyLedgerSave" value="Save"><i class="fas fa-save"></i> Save</button>
                                </td>*@
                            <td scope="row" colspan="29" class="actionbtn">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-sm btn-block form-control" id="btnManthlyLedgerSave" value="Save"><i class="fas fa-save"></i> Save</button>
                                    @*<button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @Localizer["Action"]
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" id="btnManthlyLedgerSave"><i class="fas fa-save"></i> @Localizer["Save File"]</a>
                                            <a class="dropdown-item" asp-action="" asp-controller="" asp-area=""><i class="fas fa-trash-restore"></i> @Localizer["Clear Sheet"]</a>
                                        </div>*@
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>
            <br />
        </div>
    </div>
</body>
<!-- back to top button-->
<a id="button"></a>
@*----------Body Code for this Page----------------------------------Ended---------------------Body----------------*@

@*----------JS for this Page-----------------------------------------Start---------------------JS----------------*@
@section Scripts{
    <script>
        $("body").ready(function () {
            const monthNames = ["January", "February", "March", "April", "May", "June",
                "July", "August", "September", "October", "November", "December"
            ];
            const date = new Date();
            $("#date").text(monthNames[date.getMonth()].concat("-", date.getFullYear()));

            var credit = 0, debit = 0;
            $("#tblcustomers TBODY TR").each(function () {
                var row = $(this);

                credit += parseInt(row.find("TD").eq(2).text());
                debit += parseInt(row.find("TD").eq(3).text());
            });

            $("#total #t2").append(credit);
            $("#total #t3").append(debit);
            $("#total #t5").append(credit - debit);
        });

        //$('#btnManthlyLedgerSave').click(function () {
        //    $('table tr').each(function () {
        //        var row = $(this);
        //        var text = $('table tr:eq(' + row + ') select option:selected').eq(4).text();
        //        alert(text);

        //    });
        //});

        $("body").on("click", "#btnManthlyLedgerSave", function () {

            var monthlyGeneralLedgerBookList = new Array();
            $("#tblcustomers TBODY TR").each(function () {
                var txtpmsign = $("#txtpmsign");///
                var txtpmremarks = $("#txtpmremarks");///
                var txtgmsign = $("#txtgmsign");///
                var txtgmremarks = $("#txtgmremarks");///
                var txtceosign = $("#txtceosign");///
                var txtceoremarks = $("#txtceoremarks");///
                var row = $(this);
                var monthlyGeneralLedgerBook = {};

                monthlyGeneralLedgerBook.SignPManager = txtpmsign.val();///
                monthlyGeneralLedgerBook.PManagerRemarks = txtpmremarks.val();///
                monthlyGeneralLedgerBook.SignGM = txtgmsign.val();///
                monthlyGeneralLedgerBook.GMRemarks = txtgmremarks.val();///
                monthlyGeneralLedgerBook.SignCeo = txtceosign.val();///
                monthlyGeneralLedgerBook.CeoRemarks = txtceoremarks.val();///

                monthlyGeneralLedgerBook.DailyCashId = row.find("TD").eq(0).text();
                monthlyGeneralLedgerBook.Balance = row.find("TD").eq(1).text().trim();
                monthlyGeneralLedgerBook.Credit = row.find("TD").eq(2).text();
                monthlyGeneralLedgerBook.Devit = row.find("TD").eq(3).text();
                monthlyGeneralLedgerBook.PreOrderCheckNo = row.find("TD").eq(4).text();
                monthlyGeneralLedgerBook.LedgerType = row.find("td:eq(5) select option:selected").text();
                monthlyGeneralLedgerBook.Description = row.find("TD").eq(6).text();
                monthlyGeneralLedgerBook.DailyCashDate = row.find("TD").eq(7).text();
                monthlyGeneralLedgerBook.CreatedDate = new Date();

                monthlyGeneralLedgerBookList.push(monthlyGeneralLedgerBook);
            });

            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: "/Account/GeneralLedger/InsertMonthlyGeneralLedgerBook",
                data: { data: monthlyGeneralLedgerBookList },
                success: function (data) {

                    if (data === 1) {
                        alert("Data save & update successfully!");
                        window.location.replace("/Account/GeneralLedger/GeneralLedgerBookList");
                    }
                    else if (data === 2) {
                        alert("Data didn't save & update successfully!!");
                        window.location.replace("/Account/GeneralLedger/GeneralLedgerBookList");
                    }
                }
            });
        });
    </script>
}
@*----------JS for this Page-----------------------------------------Ended----------------------JS---------------*@

@*----------CSS for this Page----------------------------------------Start----------------------CSS---------------*@
<style>
    body {
        font-family: 'Jameel Noori Nastaleeq';
    }
    /*-----these clases is for Background  Account Office----*/
    .search-background {
        background: url('../Image/dust_scratches.png');
    }

    .backgroundWhite {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    .backgroundWhiteBorder {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
        border: 1px solid #ddd;
    }

    .backgroundWhiteBorder10Padding {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ddd;
    }

    .actionbtn {
        width: 150px;
        text-align: center;
    }

    .titleAccountofficeReport {
        font-family: 'Jameel Noori Nastaleeq';
        font-size: xx-large;
        font-weight: bold;
    }
    /*  Css for Table of Each in Accounts----*/
    .table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #ddd;
        table-layout: fixed;
        width: 100%
    }
    /*  Css for small Size of Content----*/
    .SubH {
        text-align: center;
        font-family: 'Jameel Noori Nastaleeq';
        font-size: medium;
    }
    /*page print css----*/
    .btn-theme {
        background: #08818c;
        color: #fff;
    }

    .btn {
        font-family: arial;
    }

    .btn-print {
        padding: 10px 24px;
        font-size: 16px;
        line-height: 1.33;
        vertical-align: middle;
        float: left;
    }

    .PrintP {
        margin-left: 985px;
        position: absolute;
        margin-top: -45px;
    }
    /*  Css for BackToList Button----*/
    .BackToList {
        width: 150px;
    }

    .textarea {
        height: 60px;
    }
</style>
@*----------CSS for this Page----------------------------------------Ended-----------------------CSS--------------*@
