@*----------Header Code for this Page--------------------------------Start-------------------Header------------------*@
@*---Language Tranlator--Localizer*@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = "StoreDashboard";
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}



@*----------Header Code for this Page--------------------------------Ended-------------------Header------------------*@

@*----------Body Code for this Page----------------------------------Start---------------------Body----------------*@


@*----------Body Code for this Page----------------------------------Start---------------------Body----------------*@


@*<div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-blue">
                    <div class="inner">
                        <h3> 134367577 </h3>
                        <p> @Localizer["Total Income"] </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-green">
                    <div class="inner">
                        <h3> ₹1858388358 </h3>
                        <p> @Localizer["Today Income"] </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-orange">
                    <div class="inner">
                        <h3> 583838464 </h3>
                        <p> @Localizer["Total Expense"] </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-red">
                    <div class="inner">
                        <h3> 7283838383 </h3>
                        <p> @Localizer["Today Expence"] </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-blue">
                    <div class="inner">
                        <h3> 134367577 </h3>
                        <p> @Localizer["Today Opening Balance"] </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-green">
                    <div class="inner">
                        <h3> ₹1858388358 </h3>
                        <p> @Localizer["Meezan-Bank Current Balance"] </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-orange">
                    <div class="inner">
                        <h3> 583838464 </h3>
                        <p> @Localizer["Punjab-Bank Current Balance"] </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-red">
                    <div class="inner">
                        <h3> 7283838383 </h3>
                        <p> @Localizer["Total Bank Balance"] </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-blue">
                    <div class="inner">
                        <h3> 134367577 </h3>
                        <p> @Localizer["Total Accounts Balance"] </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-green">
                    <div class="inner">
                        <h3> ₹1858388358 </h3>
                        <p> @Localizer["Internal Account Balance"] </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-orange">
                    <div class="inner">
                        <h3> 583838464 </h3>
                        <p> @Localizer["Petty Account Balance"] </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-red">
                    <div class="inner">
                        <h3> 7283838383 </h3>
                        <p> @Localizer["Supplier Credit Balance"] </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-blue">
                    <div class="inner">
                        <h3> 134367577 </h3>
                        <p> @Localizer["Suplier Debit Balance"] </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-green">
                    <div class="inner">
                        <h3> ₹1858388358 </h3>
                        <p> @Localizer["Today Meezan Bank Income"] </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-orange">
                    <div class="inner">
                        <h3> 583838464 </h3>
                        <p> @Localizer["Today Punjab Bank Income"] </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-red">
                    <div class="inner">
                        <h3> 7283838383 </h3>
                        <p> @Localizer["Supplier -- Balance"] </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
@*----------Body Code for this Page----------------------------------Ended---------------------Body----------------*@

@*----------JS for this Page-----------------------------------------Start---------------------JS----------------*@
@*@section Scripts{
        <script>
        </script>
    }*@
@*----------JS for this Page-----------------------------------------Ended----------------------JS---------------*@

@*----------CSS for this Page----------------------------------------Start----------------------CSS---------------*@
@*<style>
        .card-box {
            position: relative;
            color: #fff;
            padding: 20px 10px 40px;
            margin: 12px 0px;
        }

            .card-box:hover {
                text-decoration: none;
                color: #f1f1f1;
            }

                .card-box:hover .icon i {
                    font-size: 100px;
                    transition: 1s;
                    -webkit-transition: 1s;
                }

            .card-box .inner {
                padding: 5px 10px 0 10px;
            }

            .card-box h3 {
                font-size: 27px;
                font-weight: bold;
                margin: 0 0 8px 0;
                white-space: nowrap;
                padding: 0;
                text-align: left;
            }

            .card-box p {
                font-size: 15px;
                color: white;
                font-weight: bold;
            }

            .card-box .icon {
                position: absolute;
                top: auto;
                bottom: 5px;
                right: 5px;
                z-index: 0;
                font-size: 72px;
                color: rgba(0, 0, 0, 0.15);
            }

            .card-box .card-box-footer {
                position: absolute;
                left: 0px;
                bottom: 0px;
                text-align: center;
                padding: 3px 0;
                color: rgba(255, 255, 255, 0.8);
                background: rgba(0, 0, 0, 0.1);
                width: 100%;
                text-decoration: none;
            }

            .card-box:hover .card-box-footer {
                background: rgba(0, 0, 0, 0.3);
            }

        .bg-blue {
            background-color: #00c0ef !important;
        }

        .bg-green {
            background-color: #00a65a !important;
        }

        .bg-orange {
            background-color: #f39c12 !important;
        }

        .bg-red {
            background-color: #d9534f !important;
        }
    </style>*@
@*----------CSS for this Page----------------------------------------Ended-----------------------CSS--------------*@




    </div>
@*----------Body Code for this Page----------------------------------Ended---------------------Body----------------*@

@*----------JS for this Page-----------------------------------------Start---------------------JS----------------*@
@*@section Scripts{
        <script>
        </script>
    }*@
@*----------JS for this Page-----------------------------------------Ended----------------------JS---------------*@

@*----------CSS for this Page----------------------------------------Start----------------------CSS---------------*@
<style>
    .filterDiv {
        float: left;
        background-color: #2196F3;
        color: #ffffff;
        width: 220px;
        line-height: 60px;
        text-align: center;
        margin: 2px;
        display: none;
    }

    .show {
        display: block;
    }

    .container {
        margin-top: 0px;
        overflow: hidden;
    }

    /* Style the buttons */
    .btn {
        border: none;
        outline: none;
        padding: 12px 16px;
        background-color: #f1f1f1;
        cursor: pointer;
    }

        .btn:hover {
            background-color: #ddd;
        }

        .btn.active {
            background-color: #666;
            color: white;
        }
        /*--------------------*/
    .card-box {
        position: relative;
        color: #fff;
        padding: 20px 10px 40px;
        margin: 12px 0px;
    }

        .card-box:hover {
            text-decoration: none;
            color: #f1f1f1;
        }

            .card-box:hover .icon i {
                font-size: 100px;
                transition: 1s;
                -webkit-transition: 1s;
            }

        .card-box .inner {
            padding: 5px 10px 0 10px;
        }

        .card-box h3 {
            font-size: 27px;
            font-weight: bold;
            margin: 0 0 8px 0;
            white-space: nowrap;
            padding: 0;
            text-align: left;
        }

        .card-box p {
            font-size: 15px;
            color: white;
            font-weight: bold;
        }

        .card-box .icon {
            position: absolute;
            top: auto;
            bottom: 5px;
            right: 5px;
            z-index: 0;
            font-size: 72px;
            color: rgba(0, 0, 0, 0.15);
        }

        .card-box .card-box-footer {
            position: absolute;
            left: 0px;
            bottom: 0px;
            text-align: center;
            padding: 3px 0;
            color: rgba(255, 255, 255, 0.8);
            background: rgba(0, 0, 0, 0.1);
            width: 100%;
            text-decoration: none;
        }

        .card-box:hover .card-box-footer {
            background: rgba(0, 0, 0, 0.3);
        }

    .bg-blue {
        background-color: #00c0ef !important;
    }

    .bg-green {
        background-color: #00a65a !important;
    }

    .bg-orange {
        background-color: #f39c12 !important;
    }

    .bg-red {
        background-color: #d9534f !important;
    }
</style>
@*----------CSS for this Page----------------------------------------Ended-----------------------CSS--------------*@

<div class="container">
    <h2>Filter DIV Elements</h2>

    <div id="myBtnContainer">
        <button class="btn active" onclick="filterSelection('all')"> Show all</button>
        <button class="btn" onclick="filterSelection('cars')"> Cars</button>
        <button class="btn" onclick="filterSelection('animals')"> Animals</button>
        <button class="btn" onclick="filterSelection('fruits')"> Fruits</button>
        <button class="btn" onclick="filterSelection('colors')"> Colors</button>
    </div>
   

    <div class="container">
        <div>
            <div class="filterDiv inner card-box cars bg-blue">
                <h3> 134367577 </h3>
                <p> @Localizer["Total Rawal cars"] </p>
                <div class="icon">
                    <i class="fa fa-money" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="filterDiv inner card-box cars bg-blue">
            <h3> 134367577 </h3>
            <p> @Localizer["Total Rawal cars"] </p>
            <div class="icon">
                <i class="fa fa-money" aria-hidden="true"></i>
            </div>
        </div>

        <div class="filterDiv inner card-box fruits bg-blue">
            <h3> 134367577 </h3>
            <p> @Localizer["Total Rawal fruits"] </p>
            <div class="icon">
                <i class="fa fa-money" aria-hidden="true"></i>
            </div>
        </div>
        <div class="filterDiv inner card-box fruits bg-blue">
            <h3> 134367577 </h3>
            <p> @Localizer["Total Rawal fruits"] </p>
            <div class="icon">
                <i class="fa fa-money" aria-hidden="true"></i>
            </div>
        </div>
        <div class="filterDiv inner card-box fruits bg-blue">
            <h3> 134367577 </h3>
            <p> @Localizer["Total Rawal fruits"] </p>
            <div class="icon">
                <i class="fa fa-money" aria-hidden="true"></i>
            </div>
        </div>
        <div class="filterDiv inner card-box colors bg-blue">
            <h3> 134367577 </h3>
            <p> @Localizer["Total Rawal colors"] </p>
            <div class="icon">
                <i class="fa fa-money" aria-hidden="true"></i>
            </div>
        </div>
        <div class="filterDiv inner card-box fruits bg-blue">
            <h3> 134367577 </h3>
            <p> @Localizer["Totafffl Rawal fruits"] </p>
            <div class="icon">
                <i class="fa fa-money" aria-hidden="true"></i>
            </div>
        </div>
        <div class="filterDiv inner card-box fruits bg-blue">
            <h3> 134367577 </h3>
            <p> @Localizer["Total Rawal fruits"] </p>
            <div class="icon">
                <i class="fa fa-money" aria-hidden="true"></i>
            </div>
        </div>
        <div class="filterDiv inner card-box fruits bg-blue">
            <h3> 134367577 </h3>
            <p> @Localizer["Total Rawal fruits"] </p>
            <div class="icon">
                <i class="fa fa-money" aria-hidden="true"></i>
            </div>
        </div>
        <div class="filterDiv inner card-box fruits bg-blue">
            <h3> 134367577 </h3>
            <p> @Localizer["Total Rawal fruits"] </p>
            <div class="icon">
                <i class="fa fa-money" aria-hidden="true"></i>
            </div>
        </div>
        <div class="filterDiv inner card-box colors bg-blue">
            <h3> 134367577 </h3>
            <p> @Localizer["Total Rawal colors"] </p>
            <div class="icon">
                <i class="fa fa-money" aria-hidden="true"></i>
            </div>
        </div>
        
        <div class="filterDiv inner card-box animals  bg-blue">
            <h3> 134367577 </h3>
            <p> @Localizer["Total Rawal animls"] </p>
            <div class="icon">
                <i class="fa fa-money" aria-hidden="true"></i>
            </div>
        </div>

        @*<div class="col-lg-3 col-sm-6">
            <div class="card-box bg-blue">
                <div class="inner">
                    <h3> 134367577 </h3>
                    <p> @Localizer["Total Income"] </p>
                </div>
                <div class="icon">
                    <i class="fa fa-money" aria-hidden="true"></i>
                </div>
            </div>
        </div>*@



        @*<script>

        </script>*@
    </div>


    @section Scripts{
        <script>
            filterSelection("all")
            function filterSelection(c) {
                var x, i;
                x = document.getElementsByClassName("filterDiv");
                if (c == "all") c = "";
                for (i = 0; i < x.length; i++) {
                    w3RemoveClass(x[i], "show");
                    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
                }
            }

            function w3AddClass(element, name) {
                var i, arr1, arr2;
                arr1 = element.className.split(" ");
                arr2 = name.split(" ");
                for (i = 0; i < arr2.length; i++) {
                    if (arr1.indexOf(arr2[i]) == -1) { element.className += " " + arr2[i]; }
                }
            }

            function w3RemoveClass(element, name) {
                var i, arr1, arr2;
                arr1 = element.className.split(" ");
                arr2 = name.split(" ");
                for (i = 0; i < arr2.length; i++) {
                    while (arr1.indexOf(arr2[i]) > -1) {
                        arr1.splice(arr1.indexOf(arr2[i]), 1);
                    }
                }
                element.className = arr1.join(" ");
            }

            // Add active class to the current button (highlight it)
            var btnContainer = document.getElementById("myBtnContainer");
            var btns = btnContainer.getElementsByClassName("btn");
            for (var i = 0; i < btns.length; i++) {
                btns[i].addEventListener("click", function () {
                    var current = document.getElementsByClassName("active");
                    current[0].className = current[0].className.replace(" active", "");
                    this.className += " active";
                });
            }
        </script>
    }
