@*----------Header Code for this Page--------------------------------Start-------------------Header------------------*@
@model AJWManagementPortal.Models.AccountsYearlyReportTitlePage
@*this code is for language transalator inject localizer--------------*@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "YearlyClosingReportTitlePage";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
@*----------Header Code for this Page--------------------------------Ended-------------------Header------------------*@

@*----------Body Code for this Page----------------------------------Start---------------------Body----------------*@

@*This HTML for ::Yearly Reports Account Office =view::*@

<br />
<body>
    <div class="container-fluid backgroundWhiteBorder10Padding">
        <div class="row">
            <form class="col-sm-12">
                <div class="BackToList">
                    <a type="button" asp-action="AccountsMonthlyYearlyReports" asp-area="Account" asp-controller="AccountsMonthlyYearly" class="btn btn-primary btn-lg form-control"><i class="fas fa-backward"></i> @Localizer["Back to List"]</a>
                </div>
                <div class="PrintP">
                    <button class="btn btn-theme btn-print" onclick="myFunction()"> Print <i class="fa fa-print" aria-hidden="true"></i></button>
                </div>
                @*main table*@
                <div class="table-responsive">
                    <table id="tbllawbook" class="table table-bordered table-hover table-condensed table-sm SubH">
                        <thead>
                            <tr class="">
                                <th colspan="3"><img src="~/Image/1.png" alt="Image" /></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                            <tr></tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">
                                    <h1 class="font-weight-bold">
                                        Yearly Closing Report For the Month Of
                                        <input type="text" asp-for="@Model.YRDate" placeholder="Enter Yearly Report Date Like 2021-11-25" class="form-control fa-align-center text-center text-warning" />
                                    </h1>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="Title">@Localizer["Signature"]</td>
                            </tr>
                            <tr>
                                <td>@Localizer["Account Manager"]</td>
                                <td>@Localizer["D.G.M"]</td>
                                <td>@Localizer["G.M"]</td>
                            </tr>
                            <tr>
                                <td>
                                    @Localizer["Signature"]:
                                    <input type="text" asp-for="@Model.SignAManagerYR" class="form-control" />
                                    @Localizer["Remarks"]:
                                    <input type="text" asp-for="@Model.AManagerRemarksYR" class="form-control" />
                                </td>
                                <td>
                                    @Localizer["Signature"]:
                                    <input disabled type="text" id="txtdgmsign" name="txtdgmsign" class="form-control" />
                                    @Localizer["Remarks"]:
                                    <input disabled type="text" id="txtdgmremarks" name="txtdgmremarks" class="form-control" />
                                </td>
                                <td>
                                    @Localizer["Signature"]:
                                    <input disabled type="text" id="txtgmsign" name="txtgmsign" class="form-control" />
                                    @Localizer["Remarks"]:
                                    <input disabled type="text" id="txtgmremarks" name="txtgmremarks" class="form-control" />
                                </td>
                            </tr>
                            @*sign table end here*@
                            <tr>
                                <td colspan="3">
                                    <div class="btn-group">
                                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @Localizer["Action"]
                                        </button>
                                        <div class="dropdown-menu">
                                            @*<a class="dropdown-item" id="btnsave" name="btnsave"><i class="fas fa-save"></i> @Localizer["Save File"]</a>*@
                                            @*<a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-restore"></i> @Localizer["Clear Sheet"]</a>*@
                                            <input type="submit" value="Create" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </form>
        </div>
    </div>

</body>

<!-- back to top button-->
<a id="button"></a>
@*----------Body Code for this Page----------------------------------Ended---------------------Body----------------*@

@*----------JS for this Page-----------------------------------------Start---------------------JS----------------*@
@section Scripts{
    <script>



    </script>

}
@*----------JS for this Page-----------------------------------------Ended----------------------JS---------------*@

@*----------CSS for this Page----------------------------------------Start----------------------CSS---------------*@
<style>
    body {
        font-family: 'Jameel Noori Nastaleeq';
    }
    /*-----these clases is for Background  Account Office----*/
    .search-background {
        background: url('../Image/dust_scratches.png');
    }

    .backgroundWhite {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    .backgroundWhiteBorder {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
        border: 1px solid #ddd;
    }

    .backgroundWhiteBorder10Padding {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ddd;
    }

    .actionbtn {
        width: 150px;
        text-align: center;
    }

    .titleAccountofficeReport {
        font-family: 'Jameel Noori Nastaleeq';
        font-size: xx-large;
        font-weight: bold;
    }
    /*  Css for Table of Each in Accounts----*/
    .table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #ddd;
        table-layout: fixed;
        width: 100%
    }
    /*  Css for small Size of Content----*/
    .SubH {
        text-align: center;
        font-family: 'Jameel Noori Nastaleeq';
        font-size: medium;
    }
    /*page print css----*/
    .btn-theme {
        background: #08818c;
        color: #fff;
    }

    .btn {
        font-family: arial;
    }

    .btn-print {
        padding: 10px 24px;
        font-size: 16px;
        line-height: 1.33;
        vertical-align: middle;
        float: left;
    }

    .PrintP {
        margin-left: 985px;
        position: absolute;
        margin-top: -45px;
    }
    /*  Css for BackToList Button----*/
    .BackToList {
        width: 150px;
    }

    .textarea {
        height: 60px;
    }
    /*Mostly USes Css Classes userprofile/footer/backtolist/table/backtotopbtn/smallheading/subh/print --for Accounts Department- start*/
    .Title {
        font-size: xx-large;
        font-family: 'Jameel Noori Nastaleeq';
        text-align: center;
        color: black;
    }
</style>
@*----------CSS for this Page----------------------------------------Ended-----------------------CSS--------------*@