@*----------Header Code for this Page--------------------------------Start-------------------Header------------------*@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = "MonthlyIncomeExpencePettyAccount";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
@*----------Header Code for this Page--------------------------------Ended-------------------Header------------------*@

@*----------Body Code for this Page----------------------------------Start---------------------Body----------------*@
@*This HTML for ::Monthly Acconts Reports ::*@

<br />
<body>
    <div class="container-fluid">
        <div class="row">
            <form class="tabled backgroundWhiteBorder10Padding">
                <div class="BackToList">
                    <a type="button" asp-action="AccountsMonthlyYearlyReports" asp-area="Account" asp-controller="AccountsMonthlyYearly" class="btn btn-primary btn-lg form-control"><i class="fas fa-backward"></i> @Localizer["Back to List"]</a>
                </div>
                <div class="PrintP">
                    <button class="btn btn-theme btn-print" onclick="myFunction()"> Print <i class="fa fa-print" aria-hidden="true"></i></button>
                </div>

                @*main table*@
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered table-sm SubH" id="tblcustomers">
                        <thead>
                            <tr>
                                <th colspan="11"><img src="~/Image/1.png" alt="Image" width="100" height="100" /></th>
                            </tr>
                            <tr>
                                <th class="titleAccountofficeReport" colspan="11">@Localizer["Monthly Income/Expence Petty Account Report"]</th>
                            </tr>
                            <tr>
                                <th class="text-left" colspan="11"><input type="text" id="" placeholder="Enter Date Like 2021-11-25" style="width:200px;height:40px;" class="form-control" /></th>
                            </tr>
                            <tr>

                                <th colspan="11">@Localizer["INCOME"]</th>
                            </tr>
                            <tr>
                                <th colspan="4">@Localizer["Balance"]</th>
                                <th colspan="6">@Localizer["Description"]</th>
                                <th>@Localizer["ID#"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4"><input type="text" id="debit" class="form-control text-center" value="10000" /></td>
                                <td colspan="6"><input type="text" id="debit" class="form-control text-center" value="Last Closing Balance Receipt Month November 2020" /></td>
                                <td>01</td>
                            </tr>
                            <tr>
                                <td colspan="4"><input type="text" id="debit" class="form-control text-center" value="10000" /></td>
                                <td colspan="6"><input type="text" id="debit" class="form-control text-center" value="Cash Receipt Monitor Tap Account Month March" /></td>
                                <td>02</td>
                            </tr>

                            <tr>
                                <th colspan="4">1339481</th>
                                <th colspan="7">@Localizer["Total Income"]</th>

                            </tr>
                            <tr>

                                <th colspan="11">@Localizer["EXPENCE"]</th>
                            </tr>
                            <tr>
                                <td colspan="4"><input type="text" id="debit" class="form-control text-center" value="10000" /></td>
                                <td colspan="6">@Localizer["Petty Account Expenses"]</td>
                                <td>01</td>
                            </tr>

                            <tr>
                                <th colspan="4">1192000</th>
                                <th colspan="7">@Localizer["Total Expence"]</th>

                            </tr>

                            <tr>
                                <th colspan="4">1339481</th>
                                <th colspan="7">@Localizer["Total Income"]</th>

                            </tr>
                            <tr>
                                <th colspan="4">1265440</th>
                                <th colspan="7">@Localizer["Total Expence"]</th>

                            </tr>
                            <tr>
                                <td colspan="4">74041</td>
                                <td colspan="7">@Localizer["Closing Balance"] December(2020)</td>

                            </tr>

                        </tbody>
                        <tfoot>

                            <tr>
                                <th colspan="11" scope="col">@Localizer["Signature"]</th>
                            </tr>
                            <tr>
                                <th colspan="4">@Localizer["Account Manager"]</th>
                                <th colspan="3">@Localizer["D.G.M"]</th>
                                <th colspan="4">@Localizer["G.M"]</th>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    @Localizer["Signature"]:
                                    <input type="text" id="paidAmount" class="form-control" />
                                    @Localizer["Remarks"]:
                                    <input type="text" id="paidAmount" class="form-control" />
                                </td>
                                <td colspan="3">
                                    @Localizer["Signature"]:
                                    <input type="text" id="paidAmount" class="form-control" />
                                    @Localizer["Remarks"]:
                                    <input type="text" id="paidAmount" class="form-control" />
                                </td>
                                <td colspan="4">
                                    @Localizer["Signature"]:
                                    <input type="text" id="paidAmount" class="form-control" />
                                    @Localizer["Remarks"]:
                                    <input type="text" id="paidAmount" class="form-control" />
                                </td>

                            </tr>
                            <tr>
                                <td class="actionbtn" colspan="11">
                                    <div class="btn-group">
                                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @Localizer["Action"]
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-save"></i> @Localizer["Save File"]</a>
                                            <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-restore-alt"></i> @Localizer["Clear"]</a>
                                            <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-user-edit"></i> @Localizer["Edit File"]</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </form>
        </div>
    </div>

</body>
<!-- back to top button-->
<a id="button"></a>
@*----------Body Code for this Page----------------------------------Ended---------------------Body----------------*@

@*----------JS for this Page-----------------------------------------Start---------------------JS----------------*@
@section Scripts{
    <script>
    </script>
}
@*----------JS for this Page-----------------------------------------Ended----------------------JS---------------*@

@*----------CSS for this Page----------------------------------------Start----------------------CSS---------------*@
<style>
    body {
        font-family: 'Jameel Noori Nastaleeq';
    }
    /*-----these clases is for Background  Account Office----*/
    .search-background {
        background: url('../Image/dust_scratches.png');
    }

    .backgroundWhite {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    .backgroundWhiteBorder {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
        border: 1px solid #ddd;
    }

    .backgroundWhiteBorder10Padding {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ddd;
    }

    .actionbtn {
        width: 150px;
        text-align: center;
    }

    .titleAccountofficeReport {
        font-family: 'Jameel Noori Nastaleeq';
        font-size: xx-large;
        font-weight: bold;
    }
    /*  Css for Table of Each in Accounts----*/
    .table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #ddd;
        table-layout: fixed;
        width: 100%
    }
    /*  Css for small Size of Content----*/
    .SubH {
        text-align: center;
        font-family: 'Jameel Noori Nastaleeq';
        font-size: medium;
    }
    /*page print css----*/
    .btn-theme {
        background: #08818c;
        color: #fff;
    }

    .btn {
        font-family: arial;
    }

    .btn-print {
        padding: 10px 24px;
        font-size: 16px;
        line-height: 1.33;
        vertical-align: middle;
        float: left;
    }

    .PrintP {
        margin-left: 985px;
        position: absolute;
        margin-top: -45px;
    }
    /*  Css for BackToList Button----*/
    .BackToList {
        width: 150px;
    }

    .textarea {
        height: 60px;
    }
    /*Mostly USes Css Classes userprofile/footer/backtolist/table/backtotopbtn/smallheading/subh/print --for Accounts Department- start*/
    .Title {
        font-size: xx-large;
        font-family: 'Jameel Noori Nastaleeq';
        text-align: center;
        color: black;
    }
</style>
@*----------CSS for this Page----------------------------------------Ended-----------------------CSS--------------*@
