@*----------Header Code for this Page--------------------------------Start-------------------Header------------------*@
@*---Language Tranlator--Localizer*@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model StoreFileUploadViewModel
@{
    ViewData["Title"] = "DmsStoreDepartment";
    Layout = "~/Views/Shared/_LayoutDms.cshtml";
}
@*----------Header Code for this Page--------------------------------Ended-------------------Header------------------*@

<br />
<body>
    <div class="container-fluid backgroundWhiteBorder10Padding">
        <div class="row">
            <form class="tabled col-sm-12 SubH">

                <div class="topbtnlist col-sm-12">
                    @*<a class="logo font-weight-bold font-weight-bolder">*@
                    <div class="btn-group">
                        <a href="#MP"><button type="button" class="btn btn-outline-dark">Management Plan</button></a>
                        <a href="#TP"><button type="button" class="btn btn-outline-dark">Technical Plan</button></a>
                        <a href="#DR"><button type="button" class="btn btn-outline-dark">Daily Reports</button></a>
                        <a href="#MR"><button type="button" class="btn btn-outline-dark">Monthly Reports</button></a>
                        <a href="#YR"><button type="button" class="btn btn-outline-dark">Yearly Reports</button></a>
                        <a href="#AR"><button type="button" class="btn btn-outline-dark">Audit Reports</button></a>

                        @*<button type="button" class="btn btn-dark">Right</button>*@
                    </div>
                    @*</a>*@
                </div>
                <hr />
                <div class="header col-sm-12">
                    <a class="logo font-weight-bold font-weight-bolder">@Localizer["Store Department D.M.S"]</a>
                </div>
                @*-----------1-------------start---------------------------- Table for Production Office DMS List----------------------------------------------------------*@
                <hr />


                @*------------------------------------*@
                <hr />
                <div class="col-sm-12 text-center">
                    <a class="titleDmsofficeReport" scope="col" id="TP" colspan="10">@Localizer["Daily Report D.M.S- Store Office"]</a>
                </div>
                <hr />
                <br />
                @if (Model.StoreFilesOnDatabaseDms.Count == 0)
        {
            <p>System Message :No Daily Report Exist Store Office....</p>
        }
        else
        {
                <table class="table table-bordered" id="MSWPList">
                    <thead>
                        <tr class="Subhdr SubH">
                            <th>@Localizer["Actions"]</th>
                            <th>@Localizer["Created On"]</th>
                            <th>@Localizer["File Type"]</th>
                            <th>@Localizer["Report Date"]</th>
                            <th>@Localizer["Department"]</th>
                            <th>@Localizer["Name"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var file in Model.StoreFilesOnDatabaseDms)
                        {
                            @*@if (file.Type.Equals("Technical"))
                            {*@
                                <tr class="SubH">
                                    <td class="actionbtn">
                                        <div class="btn-group">
                                            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                @Localizer["Action"]
                                            </button>
                                            <div class="dropdown-menu">
                                                @*<a class="dropdown-item" asp-action="" asp-controller="" asp-area="Hrm"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>*@
                                                <a class="dropdown-item" asp-area="Dms" asp-controller="DmsAllDepartments" asp-action="StoreDeleteFileFromDatabase" asp-route-id="@file.Id"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                                <a class="dropdown-item" asp-area="Dms" asp-controller="DmsAllDepartments" asp-action="StoreDownloadFileFromDatabase" asp-route-id="@file.Id"><i class="fas fa-download"></i> @Localizer["Download"]</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@file.CreatedOn</td>
                                    <td>@file.FileType</td>
                                    <td>@file.Date</td>
                                    <td>@file.Description </td>
                                    <td>@file.Name  <i class="fas fa-file-pdf"></i> </td>
                                    <td>@file.Id</td>
                                </tr>
                            @*}*@
                        }
                    </tbody>
                </table>
                }


                @*------------------------ended---------------------------- Table for Daily Production Office List----------------------------------------------------------*@

                @*------------------------start---------------------------- Table for Monthly Production Office  List----------------------------------------------------------*@
                <hr />
                <div class="col-sm-12 text-center">
                    <a class="titleDmsofficeReport" id="MR" colspan="10">@Localizer["Monthly Reports DMS-Production Office"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="MARReport">
                    <thead>
                        <tr class="Subhdr SubH">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-file-download"></i> @Localizer["Download"]</a>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>@Localizer["Monthly Production Report Pdf"] </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Monthly Production Office  List----------------------------------------------------------*@
                @*------------------------start---------------------------- Table for Yearly Production Office  List----------------------------------------------------------*@
                <hr />
                <div class="col-sm-12 text-center">
                    <a class="titleDmsofficeReport" id="YR" colspan="10">@Localizer["Yearly Reports DMS-Production Office"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="YARReport">
                    <thead>
                        <tr class="Subhdr SubH">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-file-download"></i> @Localizer["Download"]</a>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>@Localizer["Yearly Production Report Pdf"] </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Yearly Production Office  List----------------------------------------------------------*@


                @*------------------------start---------------------------- Table for Audit Production Office  List----------------------------------------------------------*@
                <hr />
                <div class="col-sm-12 text-center">
                    <a class="titleDmsofficeReport" colspan="10" id="AR">@Localizer["Audit Reports DMS-Production Office"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="AARReport">
                    <thead>
                        <tr class="Subhdr SubH">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-file-download"></i> @Localizer["Download"]</a>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>@Localizer["Audit Production Report Pdf"] </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Audit Production Office  List----------------------------------------------------------*@
            </form>
        </div>
    </div>
</body>
<!-- back to top button-->
<a id="button"></a>
@*----------JS for this Page-----------------------------------------Start---------------------JS----------------*@
@section scripts{
    <script>
        ////---------JS for Back To Top Button On Each Page------------------Start-------
        var btn = $('#button');

        $(window).scroll(function () {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });

        btn.on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, '300');
        });
        //------------------------------
        $(document).ready(function () {
            $('#ATSWPList').DataTable({
                "sPaginationType": "full_numbers"
            });
        });

        $(document).ready(function () {
            $('#MSWPList').DataTable({
                "sPaginationType": "full_numbers"
            });
        });

        $(document).ready(function () {
            $('#DARReport').DataTable({
                "sPaginationType": "full_numbers"
            });
        });

        $(document).ready(function () {
            $('#MARReport').DataTable({
                "sPaginationType": "full_numbers"
            });
        });

        $(document).ready(function () {
            $('#YARReport').DataTable({
                "sPaginationType": "full_numbers"
            });
        });

        $(document).ready(function () {
            $('#AARReport').DataTable({
                "sPaginationType": "full_numbers"
            });
        });
    </script>
}
@*----------JS for this Page-----------------------------------------Ended----------------------JS---------------*@

@*----------CSS for this Page----------------------------------------Start----------------------CSS---------------*@
<style>
    .titleDmsofficeReport {
        font-family: 'Jameel Noori Nastaleeq';
        font-size: xx-large;
        font-weight: bold;
    }

    .header {
        overflow: hidden;
        padding: 10px 10px;
        font-size: 40px;
        font-family: 'Jameel Noori Nastaleeq';
        text-align: center;
    }

    body {
        font-family: 'Jameel Noori Nastaleeq';
    }

    body {
        font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        color: #333;
        background-color: #fff;
    }

    .Createbtn {
        font-family: 'Jameel Noori Nastaleeq';
        font-size: large;
        text-align: right;
    }

    .actionbtn {
        width: 150px;
        text-align: center;
    }

    .SubH {
        text-align: center;
        font-family: 'Jameel Noori Nastaleeq';
        font-size: medium;
    }

    .titleAccountofficeReport {
        font-family: 'Jameel Noori Nastaleeq';
        font-size: xx-large;
        font-weight: bold;
    }

    .Subhdr {
        color: white;
        text-align: center;
        background-color: slategrey;
    }

    .tabbody {
        text-align: center;
        color: black;
    }

    .lang_btn {
        font-family: "ProximaNova";
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none !important;
        background-color: #C82333;
        text-transform: uppercase;
        margin-top: 1.7%;
        text-decoration: none !important;
        width: 65px;
        text-align: center;
        height: 39px;
        border: solid 1px #C82333;
    }

    html {
        scroll-behavior: smooth;
    }

    .topbtnlist {
        overflow: hidden;
        padding: 1px 1px;
        font-size: 40px;
        font-family: 'Jameel Noori Nastaleeq';
        text-align: center;
    }
</style>
@*----------CSS for this Page----------------------------------------Ended-----------------------CSS--------------*@

