@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@*this code is for language transalator inject localizer--------------*@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@*this code is for language transalator inject localizer--------------*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Accounts Panel :: AJW Portal</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" sizes="180*180" href="/Image/raaa.png">
    <link href="~/srtdash/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/srtdash/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/srtdash/assets/css/themify-icons.css" rel="stylesheet" />
    <link href="~/srtdash/assets/css/metisMenu.css" rel="stylesheet" />
    <link href="~/srtdash/assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/srtdash/assets/css/slicknav.min.css" rel="stylesheet" />
    <!-- amchart css -->
    <!-- others css -->
    <link href="~/srtdash/assets/css/typography.css" rel="stylesheet" />
    <link href="~/srtdash/assets/css/default-css.css" rel="stylesheet" />
    <link href="~/srtdash/assets/css/styles.css" rel="stylesheet" />
    <link href="~/srtdash/assets/css/responsive.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/AdminLayout.css" rel="stylesheet" />
    <link href="~/css/AccountsLayout.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    <!-- modernizr css -->
    @*css for Datatables*@
    <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
    @*css for Datatables*@

    <!----Bootstrap -------->
    @*<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@
    <!----End Bootstrap-------->
</head>
<body>
    @*<style>
            /*//--Css for main Ul Tage of Each Page--------start--------*/
            .mainul {
                font-family: 'Jameel Noori Nastaleeq';
                font-size: large;
                margin-bottom: 190px;
            }
        </style>*@
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="container">
                    @*<a asp-action="AccountDashboard" asp-controller="Account" asp-area="Account"><img src="~/Image/white.png" alt="logo"></a>*@
                    <a style="font-size:20px;" class="navbar-brand text-info title" asp-action="Index" asp-controller="Home" asp-area="Home" title="اے جے ڈبلیو  پورٹل کے ہوم پیج پر جائیں"><img id="main-logo" style="height:36px;" src="~/Image/white.png">&nbsp;&nbsp;<span class="text-warning">@Localizer["AGRO"]</span><span class="text-info">@Localizer["INDUSTRY"]</span>  </a>

                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu font fontlarge mainul sidebarmr" id="menu">
                            <li class="active" id="up">
                                <a asp-action="AccountDashboard" asp-controller="Account" asp-area="Account" aria-expanded="true" title="اکاؤنٹس ڈیش بورڈ ہوم پیج پر جائیں"><h4><span class="text-warning">@Localizer["Accounts"]</span><br /><span>@Localizer["Dashboard"]</span></h4></a>
                            </li>
                            @*<li class="search-box border-top">
            <form action="#">
                <input type="text" name="search" id="mySideSearch" onkeyup="myFunction()" placeholder="@Localizer["Search for something..."]" required>
                <i class="ti-search"></i>
            </form>
        </li>*@
                            <li class="border-top border-bottom">
                                <a asp-controller="Account" asp-area="Account" asp-action="AccountDashboard" aria-expanded="true">
                                    <i class="ti-layout-sidebar-left"></i><span>
                                        @Localizer["Dashboard"]
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="fas fa-support"></i><span>@Localizer["Accounts Support Guide"]</span></a>
                                <ul class="collapse">
                                    <li class="border-top"><a asp-controller="AccountsSupportGuide" asp-area="Account" asp-action="AccountsUserGuide" class="dropdown-item"><span class="">@Localizer["Accounts User Guide"]</span></a></li>
                                    <li class="border-top"><a asp-controller="AccountsSupportGuide" asp-area="Account" asp-action="AccountsLawBook" class="dropdown-item"><span class="">@Localizer["Accounts Law Book"]</span></a></li>
                                    <li class="border-top"><a asp-controller="AccountsSupportGuide" asp-area="Account" asp-action="AccountsLawBookList" class="dropdown-item"><span class="">@Localizer["Accounts Law Book List"]</span></a></li>
                                </ul>
                            </li>
                            <li class="border-top">
                                <a asp-area="Account" asp-controller="DailyAccountReport" asp-action="AllDailyAccountsReports" aria-expanded="true"><i class="fas fa-files-o"></i><span>@Localizer["All Daily Accounts Reports"]</span></a>
                                @*<ul class="collapse">
                <li class="border-top border-bottom"><a font-size:large" asp-area="Sheets" asp-controller="aDailyCashes" asp-action="sheetsList" class="dropdown-item"><span class=""></span>@Localizer["Daily Reports Accounts"]</a></li>
            </ul>*@
                            </li>
                            <li class="border-top border-bottom">
                                <a asp-area="Account" asp-controller="AccountsMonthlyYearly" asp-action="AccountsMonthlyYearlyReports" aria-expanded="true">
                                    <i class="fas fa-files-o"></i> <span>
                                        @Localizer["Accounts M/Y Report"]
                                    </span>
                                </a>
                                @*<ul class="collapse">
                <li class="border-top"><a asp-area="Account" asp-controller="AccountsMonthlyYearly" asp-action="AccountsMonthlyYearlyReports" class="dropdown-item">@Localizer["Accounts Monthly/Yearly Reports"]</a></li>
            </ul>*@
                            </li>
                            <li class="border-top border-bottom">
                                <a href="javascript:void(0)" aria-expanded="true"><i class="fas fa-layer-group"></i> <span>@Localizer["Ledger Report"]</span></a>
                                <ul class="collapse">
                                    <li class="border-top border-bottom"><a asp-area="Account" asp-controller="AllLedger" asp-action="Index" class="dropdown-item"><span class=""></span>@Localizer["Accounts All Ledgers"]</a></li>
                                    <li><a asp-area="Account" asp-controller="SubLedger" asp-action="Index" class="dropdown-item"><span class=""></span>@Localizer["Accounts Sub Ledgers"]</a></li>
                                    <li class="border-top border-bottom"><a asp-area="Account" asp-controller="GeneralLedger" asp-action="GeneralLedgerBookList" class="dropdown-item"><span class=""></span>@Localizer["General Ledger Book"]</a></li>
                                    <li><a asp-area="Account" asp-controller="InternalAccountLedgers" asp-action="InternalAccountLedgerBookList" class="dropdown-item"><span class="">@Localizer["Internal Account Ledger Book"]</span></a></li>
                                    <li class="border-top border-bottom"><a asp-area="Account" asp-controller="IndustrySupplierLedgers" asp-action="IndustrySupplierLedgerBookList" class="dropdown-item"><span class="">@Localizer["Industry Suppliers Ledger Book"]</span></a></li>
                                    <li><a asp-area="Account" asp-controller="MainBankLedger" asp-action="MainBankLedgerBookList" class="dropdown-item"><span class="">@Localizer["Main Bank Ledger Book"]</span></a></li>
                                </ul>
                            </li>

                            <li class="border-top border-bottom">
                                <a asp-area="Account" asp-controller="SupplierAccountsReport" asp-action="AccountsSupplierAllReport" aria-expanded="true"><i class="fas fa-user-astronaut"></i><span>@Localizer["Supplier Accounts Report"]</span></a>
                                @*<ul class="collapse">
                <li class="border-top"><a  class="dropdown-item"><span class="">@Localizer["Accounts Supplier Reports List"]</span></a></li>
            </ul>*@
                            </li>
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true">
                                    <i class="fa fa-bank"></i>
                                    <span>@Localizer["Bank Reports"]</span>
                                </a>
                                <ul class="collapse">
                                    <li class="border-top border-bottom"><a asp-area="Account" asp-controller="Bank" asp-action="BankCheckApprovelVoucherList" class="dropdown-item"><span class="">@Localizer["Bank Check Approvel Voucher"]</span></a></li>
                                    <li class="border-top border-bottom"><a asp-area="Account" asp-controller="Bank" asp-action="MeezanBankAccountReportsList" class="dropdown-item"><span class="">@Localizer["Meezan Bank Reports List"]</span></a></li>
                                    <li><a asp-area="Account" asp-controller="Bank" asp-action="BOPBankAccountReportsList" class="dropdown-item"><span class="">@Localizer["BOP Bank Reports List"]</span></a></li>
                                </ul>
                            </li>
                            <li class="border-top">
                                <a asp-area="Account" asp-controller="Repository" asp-action="DailyMonthlyYearlyAuditAccountsReportsListRepository" aria-expanded="true">
                                    <i class="fa fa-building"></i>
                                    <span>@Localizer["Accounts Reports Repository"]</span>
                                </a>

                            </li>
                            <li class="border-top">
                                <a asp-area="Account" asp-controller="ErrorReports" asp-action="AccountsErrorReportsList" aria-expanded="true">
                                    <i class="fa fa-building"></i>
                                    <span>@Localizer["Accounts Error Reports"]</span>
                                </a>

                            </li>
                            <li class="border-top border-bottom">
                                <a asp-area="Account" asp-controller="AccountReportPdf" asp-action="AccountsPdfReports" aria-expanded="true"><i class="fas fa-file-pdf-o"></i><span>@Localizer["Account PDF Report"]</span></a>
                            </li>
                            <li class="border-bottom">
                                <a asp-area="Account" asp-controller="Audit" asp-action="AccountsAuditReportsList" aria-expanded="true">
                                    <i class="fas fa-file-contract"></i> <span>
                                        @Localizer["Accounts Audit Report"]
                                    </span>
                                </a>

                            </li>
                            <li class="border-top border-bottom">
                                <div class="text-center bg-warning text-white"> <a href="#up">   <img src="~/Image/up.png" style="height:40px;width:60px;position:center" /></a></div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left" title="بڑی سکرین کے لیے">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="search-box pull-left">
                            <form action="#">
                                <input type="text" name="search" id="mySearch" onkeyup="myFunctionSearch()" title="اکاؤنٹس ڈیپارٹمنٹ کے لیے یہاں کوئی بھی آپشن تلاش کریں" placeholder="@Localizer["Search for something ..."]" required>
                                <i class="ti-search"></i>
                            </form>
                        </div>
                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-6 col-sm-4 clearfix">
                        <ul class="notification-area pull-right">
                            <li class="settings-btn">
                                @await Html.PartialAsync("_CulturePartial")
                            </li>
                            <li id="full-view"><i class="ti-fullscreen"></i></li>
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>


                            <li>

                                @*<a  asp-area="Account" asp-controller="NoticePopup" asp-action="NoticePopup">*@ 
                                <i class="fas fa-clipboard-list" title="نوٹس بورڈ">

                                </i> 
                            </li>

                            <li class="dropdown" title="نوٹیفیکیشن دیکھنے کے لیے">
                                <i class="ti-bell dropdown-toggle" data-toggle="dropdown">
                                    <span>2</span>
                                </i>
                                <div class="dropdown-menu bell-notify-box notify-box bg-white">
                                    <span class="notify-title">You have 3 new notifications <a href="#">view all</a></span>
                                    <div class="nofity-list">
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb"><i class="ti-comments-smiley btn-info"></i></div>
                                            <div class="notify-text">
                                                <p>Accounts Manager Daily Reports send to D.G.M Office </p>
                                                <span>08:50 A.M || 01-08-2021</span>
                                            </div>
                                        </a>
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                            <div class="notify-text">
                                                <p>You have Changed Your Password</p>
                                                <span>Just Now</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left font-weight-bold">@Localizer["Accounts Dashboard"]</h4>
                        </div>
                    </div>
                    @*<div class="col-sm-6 clearfix">
                            <div class="user-profile pull-right">
                                <img class="Userprofile" style="width:40px;height:40px; object-fit:cover;  border-radius:30px" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.Profile))" />

                                <h4 class="user-name dropdown-toggle" data-toggle="dropdown">@await Component.InvokeAsync("UserName")<i class="fa fa-angle-down"></i></h4>
                                <div class="dropdown-menu">
                                    <partial name="_LoginPartial" />
                                </div>
                            </div>
                        </div>*@
                    @*--------------User Profile code using Identity-----------------*@
                    <div class="col-sm-6 clearfix" >
                        <div class="user-profile pull-right" title="پروفائل کی ترتیب اور لاگ آؤٹ کے لیے">
                            <img style="width:40px;height:40px; object-fit:cover;  border-radius:30px" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.Profile))" />&nbsp;&nbsp;&nbsp;&nbsp;
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">@await Component.InvokeAsync("UserName")<i class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">

                                <a class="dropdown-item nav-link  border-bottom"><span class="fas fa-user"></span>&nbsp;&nbsp; @await Component.InvokeAsync("UserName")</a>

                                <a class="dropdown-item nav-link border-bottom" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><span class="fas fa-wrench"></span>&nbsp;&nbsp;Manage Profile</a>
                                <form class="form-inline " asp-area="Identity" asp-page="/Account/Logout">
                                    <button type="submit" class="nav-link btn btn-link text-white"><i class=" btn btn-danger fas fa-user ">&nbsp;@Localizer["Logout"]</i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    @*-------------------------------*@
                </div>
            </div>
            <!-- page title area end -->
            <!-- header area end -->
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            <!-- footer area start-->
            <footer class="footer-area bg-dark ajwfooter">
                <ul class="nav bg-dark">
                    <li class="nav-item text-white">
                        <a class="nav-link text-white" asp-area="Home" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">@Localizer["Services"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">@Localizer["Products"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">@Localizer["About Us"]</a>
                    </li>
                    <li class="copyright ml-auto my-auto mr-2">
                        <a class="text-white">@Localizer["Copyright"] © 2021 <span style="font-size:small">@Localizer["AJW Agro Industry Portal"]</span></a>
                    </li>
                </ul>

            </footer>
        </div>
    </div>
    <!-- footer area end-->
    <!-- jquery latest version -->
    <!--<script src="~/srtdash/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <!--<script src="~/srtdash/assets/js/popper.min.js"></script>
    <script src="~/srtdash/assets/js/bootstrap.min.js"></script>
    <script src="~/srtdash/assets/js/owl.carousel.min.js"></script>
    <script src="~/srtdash/assets/js/metisMenu.min.js"></script>
    <script src="~/srtdash/assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/srtdash/assets/js/jquery.slicknav.min.js"></script>
    <script src="~/srtdash/assets/js/vendor/modernizr-2.8.3.min.js"></script>-->
    <!-- all line chart activation -->
    <!--<script src="~/srtdash/assets/js/line-chart.js"></script>-->
    <!-- all pie chart -->
    <!--<script src="~/srtdash/assets/js/pie-chart.js"></script>-->
    <!-- others plugins -->
    <!--<script src="~/srtdash/assets/js/plugins.js"></script>
    <script src="~/srtdash/assets/js/scripts.js"></script>-->
    @*Java script for Datatables*@
    <!--<script src="~/lib/datatables/js/jquery.dataTables.js"></script>-->
    @*Java script for Datatables*@
    @*<script src="~/js/site.js"></script>
        <script src="~/js/AccountsLayout.js"></script>-->*@
    <script src="~/srtdash/assets/js/vendor/jquery-2.2.4.min.js"></script>
     <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="~/srtdash/assets/js/popper.min.js"></script>
    <script src="~/srtdash/assets/js/bootstrap.min.js"></script>
    <script src="~/srtdash/assets/js/owl.carousel.min.js"></script>
    <script src="~/srtdash/assets/js/metisMenu.min.js"></script>
    <script src="~/srtdash/assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/srtdash/assets/js/jquery.slicknav.min.js"></script>
    <script src="~/srtdash/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- all line chart activation -->
    <script src="~/srtdash/assets/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="~/srtdash/assets/js/pie-chart.js"></script>
    <!-- others plugins -->
    <script src="~/srtdash/assets/js/plugins.js"></script>
    <script src="~/srtdash/assets/js/scripts.js"></script>
    @*Java script for Datatables*@
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    @*Java script for Datatables*@
    <script src="~/js/site.js"></script>
    @*<script src="~/js/AdminLayout.js"></script>*@
    <script src="~/js/AccountsLayout.js"></script>
    <!-- search function dashboard-->

    @await Component.InvokeAsync("Notyf")
    @RenderSection("Scripts", required: false)
</body>
</html>


@RenderSection("Styles", required: false)

@section Scripts{
    <script>
        function myFunctionSearch() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("mySearch");
            filter = input.value.toUpperCase();
            ul = document.getElementById("menu");
            li = ul.getElementsByTagName("li");

            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";

                }
            }
        }

        //------js for print fuction------------
        function MyFunctionPrint() {
            window.print();
        }

        //---------JS for Back To Top Button On Each Page------------------Start-------
        var btn = $('#button');

        $(window).scroll(function () {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });

        btn.on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, '300');
        });


    </script>

}

<style>
    .sidebarmr {
        margin-bottom: 160%;
    }
    body {
        font-family: 'Jameel Noori Nastaleeq';
    }

    body {
        font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        color: #333;
        background-color: #fff;
    }
    /*-----these clases is for Background  Account Office----*/
    .search-background {
        background: url('../Image/dust_scratches.png');
    }

    .backgroundWhite {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    .backgroundWhiteBorder {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
        border: 1px solid #ddd;
    }

    .backgroundWhiteBorder10Padding {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ddd;
    }

    .ajwfooter {
        font-size: x-small;
        font-family: 'Jameel Noori Nastaleeq';
    }

    .lang_btn {
        font-family: "ProximaNova";
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none !important;
        background-color: #C82333;
        text-transform: uppercase;
        margin-top: 1.7%;
        text-decoration: none !important;
        width: 65px;
        text-align: center;
        height: 39px;
        border: solid 1px #C82333;
    }
    /*page print css----*/
    .btn-theme {
        background: #08818c;
        color: #fff;
    }

    .btn {
        font-family: arial;
    }

    .btn-print {
        padding: 10px 24px;
        font-size: 16px;
        line-height: 1.33;
        vertical-align: middle;
        float: left;
    }

    .PrintP {
        margin-left: 985px;
        position: absolute;
        margin-top: -50px;
    }

    /*page print css----*/
    *#button {
        display: inline-block;
        background-color: #FF9800;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 4px;
        position: fixed;
        bottom: 30px;
        right: 30px;
        transition: background-color .3s, opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
    }

    #button::after {
        content: "\f077";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 1em;
        line-height: 50px;
        color: #fff;
    }

    #button:hover {
        cursor: pointer;
        background-color: #333;
    }

    #button:active {
        background-color: #555;
    }

    #button.show {
        opacity: 1;
        visibility: visible;
    }

    #button {
        margin: 30px;
    }
</style>