@model IEnumerable<AJWManagementPortal.Models.MeezanBankIEReport>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "DailyMainBankLedgerBook";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

@{
    aDailyCash teswp = new aDailyCash();
    DateTime today = DateTime.Today;
}

<br />
<body>
    <div class="container-fluid backgroundWhiteBorder10Padding">
        <div class="row">
            <form class="col-sm-12">
                <div class="BackToList">
                    <a type="button" asp-action="MainBankLedgerBookList" asp-area="Account" asp-controller="MainBankLedger" class="btn btn-primary btn-lg form-control"><i class="fas fa-backward"></i> @Localizer["Back to List"]</a>
                </div>
                <div class="PrintP">
                    <button class="btn btn-theme btn-print" onclick="myFunction()"> Print <i class="fa fa-print" aria-hidden="true"></i></button>
                </div>
                <div class="table-responsive-lg">
                    <table class="table table-bordered table-hover table-striped table-responsive-sm SubH" id="tblcustomers">
                        <thead>
                            <tr class="text-center">
                                <th colspan="29"><img src="~/Image/1.png" alt="Image" width="100" height="100" /></th>
                            </tr>
                            <tr>
                                <th class="titleAccountofficeReport" colspan="29">@Localizer["Monthly Meezan Bank(Main Bank Account Ledger Book)-Account Office"] </th>
                            </tr>
                            <tr>
                                <th class="text-left" colspan="29" id="date"><span class=""> @Localizer["Date"]: </span> </th>
                            </tr>
                            <tr>
                                <th class="text-center" colspan="2">@Localizer["ID#"]</th>
                                <th class="text-center" colspan="4">@Localizer["Balance"]</th>
                                <th class="text-center" colspan="4">@Localizer["Credit"]</th>
                                <th class="text-center" colspan="4">@Localizer["Debit"]</th>
                                <th class="text-center" colspan="3">@Localizer["O-Online"]<br>@Localizer["D-Slip"]<br>@Localizer["Checq No"]</th>
                                <th class="text-center" scope="col" colspan="6">@Localizer["Description"]</th>
                                <th class="text-center" colspan="6">@Localizer["Date"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td colspan="2">@item.Id</td>
                                    <td colspan="4">
                                        @item.Balance
                                    </td>
                                    <td colspan="4">@item.Cradit</td>
                                    <td colspan="4">@item.Debit</td>
                                    <td colspan="3">@item.CDO</td>

                                    <td colspan="6">@item.Description</td>
                                    <td colspan="6">@item.ValueDate</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr id="total">
                                <th colspan="2" id="t"></th>
                                <th colspan="4" id="t1"></th>
                                <th colspan="4" id="t2"></th>
                                <th colspan="4" id="t3"></th>
                                <th colspan="3" id="t4"></th>
                                <th colspan="12" id="t5">@Localizer["Total"] : </th>
                            </tr>
                            <tr>
                                <td colspan="29"></td>
                            </tr>
                            <tr>
                                <th colspan="29">@Localizer["Signature"]</th>
                            </tr>
                            <tr>
                                <th scope="row" colspan="10">@Localizer["Account Manager"]</th>
                                <th colspan="9">@Localizer["D.G.M"]</th>
                                <th colspan="10">@Localizer["G.M"]</th>
                            </tr>
                            <tr>
                                <td colspan="10">
                                    @Localizer["Signature"]:
                                    <input type="text" id="txtpmsign" name="txtpmsign" value="@teswp.SignPManager" class="form-control" />
                                    @Localizer["Remarks"]:
                                    <input type="text" id="txtpmremarks" name="txtpmremarks" value="@teswp.PManagerRemarks" class="form-control" />
                                </td>
                                <td colspan="9">
                                    <input hidden type="text" id="txtgmsign" name="txtgmsign" class="form-control" value="@teswp.SignGM" />
                                    <input hidden type="text" id="txtgmremarks" name="txtgmremarks" value="@teswp.GMRemarks" class="form-control" />
                                </td>
                                <td colspan="10">
                                    <input hidden type="text" id="txtceosign" name="txtceosign" class="form-control" value="@teswp.SignCeo" />
                                    <input hidden type="text" id="txtceoremarks" name="txtceoremarks" class="form-control" value="@teswp.CeoRemarks" />
                                </td>
                            </tr>
                            <tr>
                                <td scope="row" colspan="29" class="actionbtn">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-sm btn-block form-control" id="btnMonthlyMainBankLedgerSave" value="Save"><i class="fas fa-save"></i> Save</button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </form>
            <br />
        </div>
    </div>
</body>

<a id="button"></a>

@section Scripts{
    <script>
        $("body").ready(function () {
            const monthNames = ["January", "February", "March", "April", "May", "June",
                "July", "August", "September", "October", "November", "December"
            ];
            const date = new Date();
            $("#date").text(monthNames[date.getMonth()].concat("-", date.getFullYear()));

            var credit = 0, debit = 0;
            $("#tblcustomers TBODY TR").each(function () {
                var row = $(this);

                credit += parseInt(row.find("TD").eq(2).text());
                debit += parseInt(row.find("TD").eq(3).text());
            });

            $("#total #t2").append(credit);
            $("#total #t3").append(debit);
            $("#total #t5").append(credit - debit);
        });

        $("body").on("click", "#btnMonthlyMainBankLedgerSave", function () {

            var monthlyMainBankLedgerBookList = new Array();
            $("#tblcustomers TBODY TR").each(function () {
                var txtpmsign = $("#txtpmsign");///
                var txtpmremarks = $("#txtpmremarks");///
                var txtgmsign = $("#txtgmsign");///
                var txtgmremarks = $("#txtgmremarks");///
                var txtceosign = $("#txtceosign");///
                var txtceoremarks = $("#txtceoremarks");///
                var row = $(this);
                var monthlyMainBankLedgerBook = {};

                monthlyMainBankLedgerBook.SignPManager = txtpmsign.val();///
                monthlyMainBankLedgerBook.PManagerRemarks = txtpmremarks.val();///
                monthlyMainBankLedgerBook.SignGM = txtgmsign.val();///
                monthlyMainBankLedgerBook.GMRemarks = txtgmremarks.val();///
                monthlyMainBankLedgerBook.SignCeo = txtceosign.val();///
                monthlyMainBankLedgerBook.CeoRemarks = txtceoremarks.val();///

                monthlyMainBankLedgerBook.MainBankDailyCashId = row.find("TD").eq(0).text();
                monthlyMainBankLedgerBook.Balance = row.find("TD").eq(1).text().trim();
                monthlyMainBankLedgerBook.Credit = row.find("TD").eq(2).text();
                monthlyMainBankLedgerBook.Devit = row.find("TD").eq(3).text();
                monthlyMainBankLedgerBook.CDO = row.find("TD").eq(4).text();
                monthlyMainBankLedgerBook.Description = row.find("TD").eq(5).text();
                monthlyMainBankLedgerBook.DailyCashDate = row.find("TD").eq(6).text();
                monthlyMainBankLedgerBook.CreatedDate = new Date();

                monthlyMainBankLedgerBookList.push(monthlyMainBankLedgerBook);
            });

            $.ajax({
                type: "POST",
                url: "/Account/MainBankLedger/InsertMonthlyGeneralLedgerBook",
                data: { data: monthlyMainBankLedgerBookList },
                success: function (data) {

                    if (data === 1) {
                        alert("Data save & update successfully!");
                        window.location.replace("/Account/MainBankLedger/MainBankLedgerBookList");
                    }
                    else if (data === 2) {
                        alert("Data didn't save & update successfully!!");
                        window.location.replace("/Account/MainBankLedger/MainBankLedgerBookList");
                    }
                }
            });
        });
    </script>
}

<style>
    body {
        font-family: 'Jameel Noori Nastaleeq';
    }
    /*-----these clases is for Background  Account Office----*/
    .search-background {
        background: url('../Image/dust_scratches.png');
    }

    .backgroundWhite {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    .backgroundWhiteBorder {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
        border: 1px solid #ddd;
    }

    .backgroundWhiteBorder10Padding {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ddd;
    }

    .actionbtn {
        width: 150px;
        text-align: center;
    }

    .titleAccountofficeReport {
        font-family: 'Jameel Noori Nastaleeq';
        font-size: xx-large;
        font-weight: bold;
    }
    /*  Css for Table of Each in Accounts----*/
    .table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #ddd;
        table-layout: fixed;
        width: 100%
    }
    /*  Css for small Size of Content----*/
    .SubH {
        text-align: center;
        font-family: 'Jameel Noori Nastaleeq';
        font-size: medium;
    }
    /*page print css----*/
    .btn-theme {
        background: #08818c;
        color: #fff;
    }

    .btn {
        font-family: arial;
    }

    .btn-print {
        padding: 10px 24px;
        font-size: 16px;
        line-height: 1.33;
        vertical-align: middle;
        float: left;
    }

    .PrintP {
        margin-left: 985px;
        position: absolute;
        margin-top: -45px;
    }
    /*  Css for BackToList Button----*/
    .BackToList {
        width: 150px;
    }

    .textarea {
        height: 60px;
    }
    /*Mostly USes Css Classes userprofile/footer/backtolist/table/backtotopbtn/smallheading/subh/print --for Accounts Department- start*/
    .Title {
        font-size: xx-large;
        font-family: 'Jameel Noori Nastaleeq';
        text-align: center;
        color: black;
    }
</style>
@*----------CSS for this Page----------------------------------------Ended-----------------------CSS--------------*@