@*----------Header Code for this Page--------------------------------Start-------------------Header------------------*@
@*---Language Tranlator--Localizer*@
@model AJWDailyPlanIO
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = "AJWDailyPlanIO";
    Layout = "~/Views/Shared/_LayoutProduction.cshtml";
}


@*----------Header Code for this Page--------------------------------Ended-------------------Header------------------*@

@*----------Body Code for this Page----------------------------------Start---------------------Body----------------*@
<form class="" method="post" asp-action="AJWDailyPlanIO">
    <table class=" table table-bordered">
        <thead>
            <tr>
                <th class="text-white" scope="col" colspan="8" style="font-size:x-large"><img src="~/Image/1.png" alt="Image" width="100" height="100" /></th>

            </tr>
            <tr>
                <th class=" text-dark" scope="col" colspan="8" style="font-size:xx-large">@Localizer["Daily Plan-In/Out Sheet -Admin Office"]</th>

            </tr>
        </thead>
        <tbody>

            <tr class="text-center text-dark">

                @*<th class="text-center bg-dark text-white" scope="col">CRUD آپریشن</th>*@
                <th scope="col">@Localizer["Signature"]</th>
                <th scope="col" colspan="3">@Localizer["Description-In"]</th>
                <th scope="col">@Localizer["Time-Out"]</th>
                <th scope="col">@Localizer["Time-In"]</th>
                <th scope="col">@Localizer["Designation"]</th>
                <th scope="col">@Localizer["Name"]</th>
            </tr>
            <tr>
                @*<th scope="row"><partial name="_TableButtonPartialDP" /></th>*@
                <th scope="row"><input asp-for="Signature" class="form-control" type="text" id="txtDesc" /></th>
                <th scope="row" colspan="3"><textarea asp-for="Description" style="height:100px;width:300px" class="form-control" type="text" id="txtDesc"></textarea></th>
                <th scope="row">
                    <input asp-for="DateTimeOut" class="form-control text-right" />
                    @*<span asp-validation-for="DateTimeOut" class="text-danger"></span>*@
                </th>
                <th scope="row">
                    <input asp-for="DateTimeIn" class="form-control text-right" />
                    <span asp-validation-for="DateTimeIn" class="text-danger"></span>
                </th>
                <th scope="row">
                    @*<input class="form-control" type="text" id="txtDesc" />*@
                    <select asp-for="Designation" class="form-control">
                        <option>Select</option>
                        <option>C.E.O</option>
                        <option>G.M</option>
                        <option>D.G.M</option>
                        <option>Accounts Manager</option>
                        <option>Acc.Accounts Manager</option>
                        <option>Purchase Officer</option>
                        <option>Acc.Purchase Officer</option>
                        <option>Sales Officer</option>
                        <option>Acc.Sales Officer</option>
                        <option>Design Officer</option>
                        <option>Acc.Design Officer</option>
                        <option>HRM Officer</option>
                        <option>Acc.HRM Officer</option>
                        <option>Mentanance Officer</option>
                        <option>Acc.Mentanance Officer</option>
                        <option>Accessori Officer</option>
                        <option>Acc.Accessori Officer</option>
                        <option>Store Officer</option>
                        <option>Acc.Store Officer</option>
                        <option>Production Officer</option>
                        <option>Acc.Production Officer</option>
                        <option>IT Officer</option>
                        <option>Acc.IT Officer</option>
                    </select>

                </th>
                <th scope="row"><input asp-for="Name" class="form-control" type="text" id="txtDesc" /></th>
            </tr>
            <tr>
                <th scope="row" colspan="8"> <partial name="_CreateAndBackToListButtonAJWDPIO" /> @*<button type="submit" class="form-control btn btn-success" value="Add-Plan-In">Add-Plan-In</button>*@</th>
            </tr>

        </tbody>
    </table>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*----------Body Code for this Page----------------------------------Ended---------------------Body----------------*@

@*----------JS for this Page-----------------------------------------Start---------------------JS----------------*@
@*@section Scripts{
    <script>
    </script>
}*@
@*----------JS for this Page-----------------------------------------Ended----------------------JS---------------*@

@*----------CSS for this Page----------------------------------------Start----------------------CSS---------------*@

<style>
    .tabled {
        position: center;
        align-content: center;
        text-align: center;
        /*margin-left: -200px;*/
    }

    .signt {
        position: center;
        align-content: center;
        text-align: center;
        /*  margin-left: -120px;*/
    }
</style>

@*----------CSS for this Page----------------------------------------Ended-----------------------CSS--------------*@