@*----------Header Code for this Page--------------------------------Start-------------------Header------------------*@
@model IEnumerable<AJWDailyPlanIO>
@*---Language Tranlator--Localizer*@

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "AJWDailyPlanIOList";
    Layout = "~/Views/Shared/_LayoutProduction.cshtml";
}

@*----------Header Code for this Page--------------------------------Ended-------------------Header------------------*@

@*----------Body Code for this Page----------------------------------Start---------------------Body----------------*@
<br />
<body>
    <div class="border backgroundWhiteBorder">
        <div class="row text-light">
            <div class="col-12 text-right">
                <a asp-action="AJWDailyPlanIO" asp-controller="AJWDailyPlanIO" asp-area="Production" class="btn btn-primary"><i class="fas fa-plus"></i> &nbsp;@Localizer["Create New Daily Plan"] </a>
                @*<button class="btn btn-theme btn-print text-right " onclick="myFunction()"> Print <i class="fa fa-print" aria-hidden="true"></i></button>
                <button class="btn btn-theme btn-print text-right " onclick="myFunction()"> CSV <i class="fa fa-file-excel-o" aria-hidden="true"></i></button>*@
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <img src="~/Image/1.png" alt="Image" width="100" height="100" />
                <h2 class="Title font-weight-bold"> @Localizer["Daily Plan-In/Out Sheet"]</h2>
            </div>
        </div>

        <br />
        <div>
            @if (Model.Count() > 0)
            {
                <table id="DailyPlan" class="table table-striped border SubH">
                    <thead>
                        <tr class="Subhdr">
                            <th>
                                @Localizer["ID#"]
                            </th>
                            <th>
                                @Localizer["Name"]
                            </th>
                            <th>
                                @Localizer["Designation"]
                            </th>
                            <th>
                                @Localizer["DateTimeIn"]
                            </th>
                            <th>
                                @Localizer["DateTimeOut"]
                            </th>
                            <th>
                                @Localizer["Description"]
                            </th>
                            <th>
                                @Localizer["Signature"]
                            </th>
                            <th> </th>
                            <th> @Localizer["Action"]</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Designation)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.DateTimeIn)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.DateTimeOut)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Signature)
                                </td>
                                <td>
                                    <partial name="_TableButtonPartialAJWDPIO" model="item.Id" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>@Localizer["No Daily Plan Exists..."]</p>
            }
        </div>
    </div>
</body>
<br />
@*----------Body Code for this Page----------------------------------Ended---------------------Body----------------*@

@*----------JS for this Page-----------------------------------------Start---------------------JS----------------*@
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#DailyPlan').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>
    @*<script>
            $(document).ready(function () {
                $('#DailyPlan').DataTable({
                    "sPaginationType": "full_numbers"
                });
            });
        </script>*@
}
@*----------JS for this Page-----------------------------------------Ended----------------------JS---------------*@

@*----------CSS for this Page----------------------------------------Start----------------------CSS---------------*@
<style>
        body {
            font-family: 'Jameel Noori Nastaleeq';
        }
         /*   body {
            font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            color: #333;
            background-color: #fff;
        }*/
        /*-----these clases is for Background  Account Office----*/
        .search-background {
            background: url('../Image/dust_scratches.png');
        }

        .backgroundWhite {
            background-color: white;
            padding: 30px;
            border-radius: 10px;
            margin-bottom: 30px;
        }

        .backgroundWhiteBorder {
            background-color: white;
            padding: 30px;
            border-radius: 10px;
            margin-bottom: 30px;
            border: 1px solid #ddd;
        }

        .backgroundWhiteBorder10Padding {
            background-color: white;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid #ddd;
        }
        /*//--CSS For Create button & Action Button of Each Page------start---------*/
        .Createbtn {
            font-family: 'Jameel Noori Nastaleeq';
            font-size: large;
            text-align: right;
        }

        .actionbtn {
            width: 150px;
            text-align: center;
        }

        .TitleHrmOfficeReport {
            font-family: 'Jameel Noori Nastaleeq';
            font-size: xx-large;
            font-weight: bold;
        }
        /*  Css for Table of Each in Accounts----*/
        .table {
            border-collapse: collapse;
            border-spacing: 0;
            border: 1px solid #ddd;
            /*        table-layout: fixed;
    */ width: 100%;
        }
        /*  Css for small Size of Content----*/
        .SubH {
            text-align: center;
            font-family: 'Jameel Noori Nastaleeq';
            font-size: medium;
        }
        /*page print css----*/
        .btn-theme {
            background: #08818c;
            color: #fff;
        }

        .btn {
            font-family: arial;
        }

        .btn-print {
            padding: 10px 24px;
            font-size: 16px;
            line-height: 1.33;
            vertical-align: middle;
            float: left;
        }

        .PrintP {
            margin-left: 985px;
            position: absolute;
            margin-top: -45px;
        }
        /*  Css for BackToList Button----*/
        .BackToList {
            width: 150px;
        }

        .textarea {
            height: 60px;
        }
        /*Mostly USes Css Classes userprofile/footer/backtolist/table/backtotopbtn/smallheading/subh/print --for Accounts Department- start*/

        /*  Css for Sub Heading of table----*/
        .Subhdr {
            color: white;
            text-align: center;
            background-color: slategrey;
        }


        /* Css for Heading on every Sheet of ccount office----*/
        .header {
            overflow: hidden;
            padding: 10px 10px;
            font-size: 40px;
            font-family: 'Jameel Noori Nastaleeq';
            text-align: center;
        }
</style>
@*----------CSS for this Page----------------------------------------Ended-----------------------CSS--------------*@