@*----------Header Code for this Page--------------------------------Start-------------------Header------------------*@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "PunjabbankIEReport";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";

}
@*----------Header Code for this Page--------------------------------Ended-------------------Header------------------*@

@*----------Body Code for this Page----------------------------------Start---------------------Body----------------*@
<br />
<body>
    <div class="container-fluid backgroundWhiteBorder10Padding">
        <div class="row">
            <form class="col-sm-12">
                <div class="BackToList">
                    <a type="button" asp-action="AllDailyAccountsReports" asp-area="Account" asp-controller="DailyAccountReport" class="btn btn-primary hover btn-block form-control btn-sm"><i class="fas fa-backward"></i> @Localizer["Back to List"]</a>
                </div>
                <div class="PrintP">
                    <button class="btn btn-theme btn-print" onclick="myFunction()"> Print <i class="fa fa-print" aria-hidden="true"></i></button>
                </div>
                @*main table*@
                <table class="tabled table table-bordered table-responsive-sm table-hover table-striped SubH" id="tblcustomers">
                    <thead>
                        <tr>
                            <th colspan="10"><img src="~/Image/1.png" alt="Image" width="100" height="100" /></th>
                        </tr>
                        <tr>
                            <th class="titleAccountofficeReport" colspan="10">@Localizer["Daily Punjab Bank Income/Expence Report"]</th>
                        </tr>
                        <tr>
                            <th class="text-left" colspan="10"> <input type="date" id="">  :<span class=""> @Localizer["Sheet Date"] </span></th>
                        </tr>
                        <tr>
                            <th colspan="1" scope="col">@Localizer["Action"] </th>
                            <th scope="col">@Localizer["Balance"]</th>
                            <th scope="col">@Localizer["Cradit"]</th>
                            <th scope="col">@Localizer["Debit"]</th>
                            <th scope="col">@Localizer["O-Online"]<br>@Localizer["D-Slip"]<br>@Localizer["Checq No"]</th>
                            <th scope="col" colspan="4">@Localizer["Description"]</th>
                            <th scope="col">@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row" class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-remove"></i> @Localizer["Remove Row"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-edit"></i> @Localizer["Edit"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td colspan="4">
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr id="total">
                            <th></th>
                            <th></th>
                            <th colspan="1"> </th>
                            <th id="t1"></th>
                            <th id="t2"></th>
                            <th id="t3"></th>
                            <th id="" colspan="4">@Localizer["Total"]</th>
                        </tr>
                        <tr>
                            <th colspan="1"><button type="button" id="btnAdd" value="Add" class="btn btn-primary form-control">@Localizer["Add Row"]</button></th>
                            <th colspan="1"><input type="text" id="balance" class="form-control" /></th>
                            <th colspan="1"><input type="text" id="balance" class="form-control" /></th>
                            <th colspan="1"><input type="text" id="credit" class="form-control" /></th>
                            <th colspan="1"><input type="text" id="debit" class="form-control" /></th>
                            <th colspan="4"><textarea type="text" id="desc" class="form-control"></textarea></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td colspan="10">   <button type="button" id="btnSave" value="Save All" class="btn btn-primary btn-block form-control">@Localizer["Save All Rows"]</button></td>
                        </tr>
                        <tr>
                            <th class=" text-white" scope="col" colspan="10"></th>
                        </tr>
                        <tr>
                            <th colspan="2" rowspan="5" scope="row"></th>
                            <th colspan="3" scope="row"></th>
                            <th colspan="3" scope="row">@Localizer["Opening Balance"]</th>
                            <th colspan="2" rowspan="5" scope="row"></th>
                        </tr>
                        <tr>
                            @*<th colspan="2" scope="row"></th>*@
                            <th colspan="3" scope="row"></th>
                            <th colspan="3" scope="row"> @Localizer["Today's total income"]</th>
                        </tr>
                        <tr>
                            @*<th colspan="2" scope="row"></th>*@
                            <th colspan="3" scope="row">@*@vredit*@</th>
                            <th colspan="3" scope="row">@Localizer["Today's total expenses"]</th>
                            @*<th colspan="2" scope="row"></th>*@
                        </tr>
                        <tr>
                            @*<th colspan="2" scope="row"></th>*@
                            <th colspan="3" scope="row">00</th>
                            <th colspan="3" scope="row">@Localizer["Income tax deduction"]</th>
                            @*<th colspan="2" scope="row"></th>*@
                        </tr>
                        <tr>
                            @*<th colspan="2" scope="row"></th>*@
                            <th colspan="3" scope="row">@*@vlosingBalanve*@</th>
                            <th colspan="3" scope="row">@Localizer["Closing balance"]</th>
                            @*<th colspan="2" scope="row"></th>*@
                        </tr>
                        <tr>
                            <th colspan="10" scope="col">@Localizer["Signature"]</th>
                        </tr>
                        <tr>
                            <th scope="row" colspan="3">@Localizer["Account Manager"]</th>
                            <th colspan="4">@Localizer["D.G.M"]</th>
                            <th colspan="3">@Localizer["G.M"]</th>
                        </tr>
                        <tr>
                            <td colspan="3">
                                @Localizer["Signature"]:
                                <input type="text" id="paidAmount" class="form-control" />
                                @Localizer["Remarks"]:
                                <input type="text" id="paidAmount" class="form-control" />
                            </td>
                            <td colspan="4">
                                @Localizer["Signature"]:
                                <input type="text" id="paidAmount" class="form-control" />
                                @Localizer["Remarks"]:
                                <input type="text" id="paidAmount" class="form-control" />
                            </td>
                            <td colspan="3">
                                @Localizer["Signature"]:
                                <input type="text" id="paidAmount" class="form-control" />
                                @Localizer["Remarks"]:
                                <input type="text" id="paidAmount" class="form-control" />
                            </td>

                        </tr>
                        <tr>
                            <td scope="row" colspan="10" class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-save"></i> @Localizer["Save File"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-restore"></i> @Localizer["Clear Sheet"]</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</body>
<!-- back to top button-->
<a id="button"></a>
@*----------Body Code for this Page----------------------------------Ended---------------------Body----------------*@

@*----------JS for this Page-----------------------------------------Start---------------------JS----------------*@
@section Scripts{
    <script>
    </script>
}
@*----------JS for this Page-----------------------------------------Ended----------------------JS---------------*@

@*----------CSS for this Page----------------------------------------Start----------------------CSS---------------*@
<style>
    body {
        font-family: 'Jameel Noori Nastaleeq';
    }
    /*-----these clases is for Background  Account Office----*/
    .search-background {
        background: url('../Image/dust_scratches.png');
    }

    .backgroundWhite {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    .backgroundWhiteBorder {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
        border: 1px solid #ddd;
    }

    .backgroundWhiteBorder10Padding {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ddd;
    }

    .actionbtn {
        width: 150px;
        text-align: center;
    }

    .titleAccountofficeReport {
        font-family: 'Jameel Noori Nastaleeq';
        font-size: xx-large;
        font-weight: bold;
    }
    /*  Css for Table of Each in Accounts----*/
    .table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #ddd;
        table-layout: fixed;
        width: 100%
    }
    /*  Css for small Size of Content----*/
    .SubH {
        text-align: center;
        font-family: 'Jameel Noori Nastaleeq';
        font-size: medium;
    }
    /*page print css----*/
    .btn-theme {
        background: #08818c;
        color: #fff;
    }

    .btn {
        font-family: arial;
    }

    .btn-print {
        padding: 10px 24px;
        font-size: 16px;
        line-height: 1.33;
        vertical-align: middle;
        float: left;
    }

    .PrintP {
        margin-left: 985px;
        position: absolute;
        margin-top: -45px;
    }
    /*  Css for BackToList Button----*/
    .BackToList {
        width: 150px;
    }
</style>
@*----------CSS for this Page----------------------------------------Ended-----------------------CSS--------------*@

