@*----------Header Code for this Page--------------------------------Start-------------------Header------------------*@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "InternalAccountLedgerBookList";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
@*----------Header Code for this Page--------------------------------Ended-------------------Header------------------*@

@*----------Body Code for this Page----------------------------------Start---------------------Body----------------*@
<br />
<body>
    <div class="container-fluid backgroundWhiteBorder10Padding">
        <div class="row">
            <div class="header col-sm-12">
                <a class="logo font-weight-bold">@Localizer["Internal Ledger Book Reports List"]</a>
            </div>
            @*------------------------start---------------------------- Table for Daily InternalLedgerBook List----------------------------------------------------------*@
            <form class="tabled col-sm-12">
                <!--<hr />
                <div class="row">
                    <div class="col-sm-6">
                        <ul>
                            <li class="nav-item dropdown text-white-50">
                                <button style="width:250px;font-size:medium" class="nav-link dropdown-toggle btn btn-primary" href="#" id="navbarDropDownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Localizer["Select Internal Ledger Book"]
                                </button>
                                <div class="smallfontHeading dropdown-menu" aria-labelledby="navbarDropDownMenuLink">

                                    <a class="dropdown-item " asp-action="MeezanBankAccountLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Meezan Bank Account"]</a>-->
                                    @*<a class="dropdown-item" asp-action="PunjabBankAccountLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Punjab Bank Account"]</a>*@
                                    <!--<a class="dropdown-item" asp-action="PettyCashAccountLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Petty Cash Account"]</a>
                                    <a class="dropdown-item " asp-action="IndustryMobileBalanceLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Industry Mobile Balance"]</a>
                                    <a class="dropdown-item" asp-action="AsimShabSpecialBudgetLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Asim Shab Special Budget"]</a>
                                    <a class="dropdown-item" asp-action="EmployeeMonthlySalaryBankAccountLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Employee Monthly Salary(Bank Account)"]</a>
                                    <a class="dropdown-item" asp-action="EmployeeMonthlySalaryInternalAccountLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Employee Monthly Salary(Internal Account)"]</a>
                                    <a class="dropdown-item" asp-action="SocialSecurityFeeLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Social Security Fee"]</a>
                                    <a class="dropdown-item" asp-action="EOBIMonthlyFeeLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["EOBI Monthly Fee"]</a>
                                    <a class="dropdown-item" asp-action="IndustryInternetPackageLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Industry Internet Package"]</a>
                                    <a class="dropdown-item" asp-action="IndustryMotorcycleServiceLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Industry Motorcycle Service"] </a>
                                    <a class="dropdown-item" asp-action="ElectricMaterialLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Electric Material"]</a>
                                    <a class="dropdown-item" asp-action="AccessoryMaterialLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Accessory Material"]</a>
                                    <a class="dropdown-item" asp-action="StationaryMaterialLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Stationary Material"]</a>
                                    <a class="dropdown-item" asp-action="StoreMaterialLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Store Material"]</a>
                                    <a class="dropdown-item" asp-action="CivlWorkMaterialLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Civl Work Material"]</a>
                                    <a class="dropdown-item " asp-action="IndustryMilkBillLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Industry Milk Bill"]</a>
                                    <a class="dropdown-item" asp-action="IndustryElectricBillLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Industry Electric Bill"]</a>
                                    <a class="dropdown-item" asp-action="TransportationLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Transportation"]</a>
                                    <a class="dropdown-item" asp-action="StaffAdvanceLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Staff Advance"]</a>
                                    <a class="dropdown-item" asp-action="StaffLoanLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Staff Loan"]</a>
                                    <a class="dropdown-item" asp-action="AccessoryRepairingLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Accessory Repairing"]</a>
                                    <a class="dropdown-item" asp-action="LabourWagesrLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Labour Wages"]</a>
                                    <a class="dropdown-item" asp-action="MutfarriqLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Mutfarriq"]</a>
                                    <a class="dropdown-item" asp-action="InternalAccountClosingBalanceReceiptLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Internal Account Closing Balance Receipt"]</a>
                                    <a class="dropdown-item" asp-action="ClosingBalanceAddBankLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Closing Balance + Bank "]</a>
                                    <a class="dropdown-item" asp-action="IndustryKitchenMaterialLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Industry Kitchen Material"]</a>
                                    <a class="dropdown-item" asp-action="PettyCashExpenseInternalAccountLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Petty Cash Expense(Internal Account) "]</a>
                                    <a class="dropdown-item" asp-action="GatePassExpenseLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Gate Pass Expense"]</a>
                                    <a class="dropdown-item" asp-action="ToolsMaterialLedger" asp-controller="InternalAccountLedgers" asp-area="Account">@Localizer["Tools Material"]</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 Createbtn">
                        <a type="button" class="btn btn-primary " asp-area="Account" asp-controller="InternalAccountLedgers" asp-action="DailyInternalAccountLedgerBook"><i class="fas fa-plus"> @Localizer["Create New Daily Internal Account Ledger Book"]</i> </a>
                    </div>
                    <div class="col-sm-12 text-center">
                        <a class="titleAccountofficeReport" scope="col" colspan="10">@Localizer["Daily Internal Account Ledger-Account Office"]</a>
                    </div>
                </div>
                <table class="table table-bordered" id="DIALBook">
                    <thead>
                        <tr class="Subhdr SubH">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tabbody SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-edit"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item " asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["Edit"]</a>
                                        <a class="dropdown-item " asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-upload"></i> @Localizer["Upload to Repository"]</a>
                                        <a class="dropdown-item " asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-upload"></i> @Localizer["Upload to DMS"]</a>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>@Localizer["Daily Internal Account Ledger Book"] </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>-->
                @*------------------------ended---------------------------- Table for Daily GeneralLedgerBook List----------------------------------------------------------*@

                @*------------------------start---------------------------- Table for Monthly GeneralLedgerBook List----------------------------------------------------------*@
                <hr />

                <div class="row">
                    <div class="col-sm-6">

                        <ul>
                            <li class="nav-item dropdown text-white-50">
                                <button style="width:258px;font-size:medium" class="nav-link dropdown-toggle btn btn-primary" href="#" id="navbarDropDownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Localizer["Select Monthly Internal Ledger"]
                                </button>
                                <div class="smallfontHeading dropdown-menu" aria-labelledby="navbarDropDownMenuLink">

                                    <a class="dropdown-item " asp-action="MonthlyMeezanBankAccountLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Meezan Bank Account"]</a>
                                    @*<a class="dropdown-item" asp-action="MonthlyPunjabBankAccountLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Punjab Bank Account"]</a>*@
                                    <a class="dropdown-item" asp-action="MonthlyPettyCashAccountLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Petty Cash Account"]</a>
                                    <a class="dropdown-item " asp-action="MonthlyIndustryMobileBalanceLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Industry Mobile Balance"]</a>
                                    <a class="dropdown-item" asp-action="MonthlyAsimShabSpecialBudgetLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Asim Shab Special Budget"]</a>
                                    <a class="dropdown-item" asp-action="MonthlyEmployeeMonthlySalaryBankAccountLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Employee Monthly Salary(Bank Account)"]</a>
                                    <a class="dropdown-item" asp-action="MonthlyEmployeeMonthlySalaryInternalAccountLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Employee Monthly Salary(Internal Account)"]</a>
                                    <a class="dropdown-item" asp-action="MonthlySocialSecurityFeeLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Social Security Fee"]</a>
                                    <a class="dropdown-item" asp-action="MonthlyEOBIMonthlyFeeLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["EOBI Monthly Fee"]</a>
                                    <a class="dropdown-item" asp-action="MonthlyIndustryInternetPackageLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Industry Internet Package"]</a>
                                    <a class="dropdown-item" asp-action="MonthlyIndustryMotorcycleServiceLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Industry Motorcycle Service"] </a>
                                    <a class="dropdown-item" asp-action="MonthlyElectricMaterialLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Electric Material"]</a>
                                    <a class="dropdown-item" asp-action="MonthlyAccessoryMaterialLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Accessory Material"]</a>
                                    <a class="dropdown-item" asp-action="MonthlyStationaryMaterialLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Stationary Material"]</a>
                                    <a class="dropdown-item" asp-action="MonthlyStoreMaterialLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Store Material"]</a>
                                    <a class="dropdown-item" asp-action="MonthlyCivilWorkMaterialLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Civl Work Material"]</a>
                                    <a class="dropdown-item " asp-action="MonthlyIndustryMilkBillLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Industry Milk Bill"]</a>
                                    <a class="dropdown-item" asp-action="MonthlyIndustryElectricBillLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Industry Electric Bill"]</a>
                                    <a class="dropdown-item" asp-action="MonthlyTransportationLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Transportation"]</a>
                                    <a class="dropdown-item" asp-action="MonthlyStaffAdvanceLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Staff Advance"]</a>
                                    <a class="dropdown-item" asp-action="MonthlyStaffLoanLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Staff Loan"]</a>
                                    <a class="dropdown-item" asp-action="MonthlyAccessoryRepairingLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Accessory Repairing"]</a>
                                    <a class="dropdown-item" asp-action="MonthlyLabourWagesLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Labour Wages"]</a>
                                    <a class="dropdown-item" asp-action="MonthlyMutfarriqLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Mutfarriq"]</a>
                                    <a class="dropdown-item" asp-action="MonthlyInternalAccountClosingBalanceReceiptLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Internal Account Closing Balance Receipt"]</a>
                                    <a class="dropdown-item" asp-action="MonthlyClosingBalanceAddBankLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Closing Balance + Bank "]</a>
                                    <a class="dropdown-item" asp-action="MonthlyIndustryKitchenMaterialLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Industry Kitchen Material"]</a>
                                    <a class="dropdown-item" asp-action="MonthlyPettyCashExpenseInternalAccountLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Petty Cash Expense(Internal Account) "]</a>
                                    <a class="dropdown-item" asp-action="MonthlyGatePassExpenseLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Gate Pass Expense"]</a>
                                    <a class="dropdown-item" asp-action="MonthlyToolsMaterialLedger" asp-controller="MonthlyInternalAccountLedger" asp-area="Account">@Localizer["Tools Material"]</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 Createbtn">
                        <a type="button" class="btn btn-primary" asp-area="Account" asp-controller="MonthlyInternalAccountLedger" asp-action="MonthlyInternalAccountLedger"><i class="fas fa-plus"> @Localizer["Create New Monthly Internal Account Ledger"]</i> </a>

                    </div>
                    <br />
                    <div class="col-sm-12 text-center">
                        <a class="titleAccountofficeReport" scope="col" colspan="10">@Localizer["Monthly Internal Account Ledger-Account Office"]</a>
                    </div>
                    <br />
                </div>
                <br />
                <table class="table table-bordered" id="MIALBook">
                    <thead>
                        <tr class="Subhdr SubH">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tabbody SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-edit"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["Edit"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-upload"></i> @Localizer["Upload to Repository"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-upload"></i> @Localizer["Upload to DMS"]</a>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>@Localizer["Monthly Internal Account Ledger"] </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Monthly GeneralLedgerBook List----------------------------------------------------------*@
                @*------------------------start---------------------------- Table for Yearly GeneralLedgerBook List----------------------------------------------------------*@
                <hr />
                <div class="row">
                    <div class="col-sm-6">
                        <ul>
                            <li class="nav-item dropdown text-white-50">
                                <button style="width:250px;font-size:medium" class="nav-link dropdown-toggle btn btn-primary" href="#" id="navbarDropDownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Localizer["Select Yearly Internal Ledger"]
                                </button>
                                <div class="smallfontHeading dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
                                    <a class="dropdown-item " asp-action="YearlyMeezanBankAccountLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Meezan Bank Account"]</a>
                                    @*<a class="dropdown-item" asp-action="YearlyPunjabBankAccountLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Punjab Bank Account"]</a>*@
                                    <a class="dropdown-item" asp-action="YearlyPettyCashAccountLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Petty Cash Account"]</a>
                                    <a class="dropdown-item " asp-action="YearlyIndustryMobileBalanceLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Industry Mobile Balance"]</a>
                                    <a class="dropdown-item" asp-action="YearlyAsimShabSpecialBudgetLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Asim Shab Special Budget"]</a>
                                    <a class="dropdown-item" asp-action="YearlyEmployeeMonthlySalaryBankAccountLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Employee Monthly Salary(Bank Account)"]</a>
                                    <a class="dropdown-item" asp-action="YearlyEmployeeMonthlySalaryInternalAccountLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Employee Monthly Salary(Internal Account)"]</a>
                                    <a class="dropdown-item" asp-action="YearlySocialSecurityFeeLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Social Security Fee"]</a>
                                    <a class="dropdown-item" asp-action="YearlyEOBIMonthlyFeeLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["EOBI Monthly Fee"]</a>
                                    <a class="dropdown-item" asp-action="YearlyIndustryInternetPackageLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Industry Internet Package"]</a>
                                    <a class="dropdown-item" asp-action="YearlyIndustryMotorcycleServiceLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Industry Motorcycle Service"] </a>
                                    <a class="dropdown-item" asp-action="YearlyElectricMaterialLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Electric Material"]</a>
                                    <a class="dropdown-item" asp-action="YearlyAccessoryMaterialLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Accessory Material"]</a>
                                    <a class="dropdown-item" asp-action="YearlyStationaryMaterialLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Stationary Material"]</a>
                                    <a class="dropdown-item" asp-action="YearlyStoreMaterialLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Store Material"]</a>
                                    <a class="dropdown-item" asp-action="YearlyCivilWorkMaterialLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Civl Work Material"]</a>
                                    <a class="dropdown-item " asp-action="YearlyIndustryMilkBillLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Industry Milk Bill"]</a>
                                    <a class="dropdown-item" asp-action="YearlyIndustryElectricBillLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Industry Electric Bill"]</a>
                                    <a class="dropdown-item" asp-action="YearlyTransportationLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Transportation"]</a>
                                    <a class="dropdown-item" asp-action="YearlyStaffAdvanceLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Staff Advance"]</a>
                                    <a class="dropdown-item" asp-action="YearlyStaffLoanLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Staff Loan"]</a>
                                    <a class="dropdown-item" asp-action="YearlyAccessoryRepairingLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Accessory Repairing"]</a>
                                    <a class="dropdown-item" asp-action="YearlyLabourWagesLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Labour Wages"]</a>
                                    <a class="dropdown-item" asp-action="YearlyMutfarriqLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Mutfarriq"]</a>
                                    <a class="dropdown-item" asp-action="YearlyInternalAccountClosingBalanceReceiptLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Internal Account Closing Balance Receipt"]</a>
                                    <a class="dropdown-item" asp-action="YearlyClosingBalanceAddBankLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Closing Balance + Bank "]</a>
                                    <a class="dropdown-item" asp-action="YearlyIndustryKitchenMaterialLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Industry Kitchen Material"]</a>
                                    <a class="dropdown-item" asp-action="YearlyPettyCashExpenseInternalAccountLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Petty Cash Expense(Internal Account) "]</a>
                                    <a class="dropdown-item" asp-action="YearlyGatePassExpenseLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Gate Pass Expense"]</a>
                                    <a class="dropdown-item" asp-action="YearlyToolsMaterialLedger" asp-controller="YearlyInternalAccountLedger" asp-area="Account">@Localizer["Tools Material"]</a>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="col-sm-6 Createbtn">
                        <a type="button" class="btn btn-primary" asp-area="Account" asp-controller="YearlyInternalAccountLedger" asp-action="YearlyInternalAccountLedger"><i class="fas fa-plus"> @Localizer["Create New Yearly Internal Account Ledger"]</i> </a>

                    </div>
                    <br />
                    <div class="col-sm-12 text-center">
                        <a class="titleAccountofficeReport" scope="col" colspan="10">@Localizer["Yearly Internal Account Ledger-Account Office"]</a>
                    </div>
                    <br />
                </div>
                <br />
                <table class="table table-bordered SubH" id="YIALBook">
                    <thead>
                        <tr class="Subhdr">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tabbody SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-edit"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["Edit"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-upload"></i> @Localizer["Upload to Repository"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-upload"></i> @Localizer["Upload to DMS"]</a>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>@Localizer["Yearly Internal Account Ledger"] </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Yearly GeneralLedgerBook List----------------------------------------------------------*@
            </form>
        </div>
    </div>
</body>
<!-- back to top button-->
<a id="button"></a>
@*----------Body Code for this Page----------------------------------Ended---------------------Body----------------*@

@*----------JS for this Page-----------------------------------------Start---------------------JS----------------*@
@section Scripts{
    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        function filterFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            div = document.getElementById("myDropdown");
            a = div.getElementsByTagName("a");
            for (i = 0; i < a.length; i++) {
                txtValue = a[i].textContent || a[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    a[i].style.display = "";
                } else {
                    a[i].style.display = "none";
                }
            }
        }

        //------

        $(document).ready(function () {
            $('#DIALBook').DataTable({
                "sPaginationType": "full_numbers"
            });
        });
        //--------

        $(document).ready(function () {
            $('#MIALBook').DataTable({
                "sPaginationType": "full_numbers"
            });
        });
                //--------

        $(document).ready(function () {
            $('#YIALBook').DataTable({
                "sPaginationType": "full_numbers"
            });
        });
                //--------

    </script>
}
@*----------JS for this Page-----------------------------------------Ended----------------------JS---------------*@

@*----------CSS for this Page----------------------------------------Start----------------------CSS---------------*@
<style>
    .dropbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

    #myInput {
        box-sizing: border-box;
        background-image: url('searchicon.png');
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 14px 20px 12px 45px;
        border: none;
        border-bottom: 1px solid #ddd;
    }

        #myInput:focus {
            outline: 3px solid #ddd;
        }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }
    /*-------------------*/
    body {
        font-family: 'Jameel Noori Nastaleeq';
    }
    /*-----these clases is for Background  Account Office----*/
    .search-background {
        background: url('../Image/dust_scratches.png');
    }

    .backgroundWhite {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    .backgroundWhiteBorder {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
        border: 1px solid #ddd;
    }

    .backgroundWhiteBorder10Padding {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ddd;
    }

    .actionbtn {
        width: 150px;
        text-align: center;
    }
    .Createbtn {
        font-family: 'Jameel Noori Nastaleeq';
        font-size: large;
        text-align: right;
    }
    .titleAccountofficeReport {
        font-family: 'Jameel Noori Nastaleeq';
        font-size: xx-large;
        font-weight: bold;
    }
    /*  Css for Table of Each in Accounts----*/
    .table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #ddd;
        table-layout: fixed;
        width: 100%
    }
    /*  Css for small Size of Content----*/
    .SubH {
        text-align: center;
        font-family: 'Jameel Noori Nastaleeq';
        font-size: medium;
    }
    /*page print css----*/
    .btn-theme {
        background: #08818c;
        color: #fff;
    }

    .btn {
        font-family: arial;
    }

    .btn-print {
        padding: 10px 24px;
        font-size: 16px;
        line-height: 1.33;
        vertical-align: middle;
        float: left;
    }
    .PrintP {
        margin-left: 985px;
        position: absolute;
        margin-top: -45px;
    }
    /*  Css for BackToList Button----*/
    .BackToList {
        width: 150px;
    }

    .textarea {
        height: 60px;
    }
    /*Mostly USes Css Classes userprofile/footer/backtolist/table/backtotopbtn/smallheading/subh/print --for Accounts Department- start*/
    .Title {
        font-size: xx-large;
        font-family: 'Jameel Noori Nastaleeq';
        text-align: center;
        color: black;
    }
    /*  Css for Small Content Of Accounts----*/
    .smallfontHeading {
        font-size: medium;
    }
    /* Css for Heading on every Sheet of ccount office----*/
    .header {
        overflow: hidden;
        padding: 10px 10px;
        font-size: 40px;
        font-family: 'Jameel Noori Nastaleeq';
        text-align: center;
    }
    /*  Css for Sub Heading of table----*/
    .Subhdr {
        color: white;
        text-align: center;
        background-color: slategrey;
    }
</style>
@*----------CSS for this Page----------------------------------------Ended-----------------------CSS--------------*@