@*----------Header Code for this Page--------------------------------Start-------------------Header------------------*@
@model AJWManagementPortal.Models.ViewModels.InternalLedgerBookViewModel;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "InternalAccountLedgerBookList";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
@*@using AkraTechFramework.Helpers*@
@*----------Header Code for this Page--------------------------------Ended-------------------Header------------------*@

@*----------Body Code for this Page----------------------------------Start---------------------Body----------------*@
<br />
<body>
    <div class="container-fluid backgroundWhiteBorder10Padding">
        <div class="row">
            <div class="header col-sm-12" style="height:50px">
                <a class="logo font-weight-bold">@Localizer["Internal Ledger Book Reports List"]</a>
            </div>
            <form class="tabled col-sm-12">
                <hr />
                <div class="row">
                    <div class="col-sm-3">
                        <ul>
                            <li class="nav-item dropdown text-white-50">
                                @Html.DropDownList("MonthlyInternalLedger", ViewBag.MonthlyInternalLedgerList as SelectList, "Select Monthly Internal Ledger", new { @class = "nav-link dropdown-toggle btn btn-primary", @style = "width:250px;height:43px; font-size:medium" })
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3 Createbtn" style="margin-left: -3%; margin-right: 3%;">
                        <a type="button" class="btn btn-primary" asp-area="Account" asp-controller="MonthlyInternalAccountLedger" asp-action="CreateMonthlyInternalLedger"><i class="fas fa-plus"> @Localizer["Create Monthly Internal Ledger"]</i> </a>
                    </div>
                    <div class="col-sm-6 Createbtn">
                        <a type="button" class="btn btn-primary" asp-area="Account" asp-controller="MonthlyInternalAccountLedger" asp-action="MonthlyInternalAccountLedger"><i class="fas fa-plus"> @Localizer["Create New Monthly Internal Account Ledger"]</i> </a>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <a class="titleAccountofficeReport" scope="col" colspan="10">@Localizer["Monthly Internal Account Ledger-Account Office"]</a>
                    </div>
                </div>
                <br />
                <table class="table table-bordered" id="MIALBook">
                    <thead>
                        <tr class="Subhdr SubH">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.monthlyInternalLedgers)
                        {
                        <tr class="tabbody SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-route-id=@item.UniId asp-action="MonthlyInternalAccountLedgerBookView" asp-controller="MonthlyInternalAccountLedger" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item" asp-route-id=@item.UniId asp-action="MonthlyInternalAccountLedgerBookDelete" asp-controller="MonthlyInternalAccountLedger" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        @*<a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-edit"></i> @Localizer["Edit"]</a>
                    <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-upload"></i> @Localizer["Upload to Repository"]</a>
                    <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-upload"></i> @Localizer["Upload to DMS"]</a>*@
                                    </div>
                                </div>
                            </td>
                            <td class="text-center" scope="col">@item.DailyCashDate.ToString("MMMM") - @Convert.ToDateTime(@item.DailyCashDate).Year </td>

                            @*<td>@item.DailyCashDate</td>*@
                            <td>@Localizer["Monthly Internal Account Ledger"] </td>
                            <td>@item.Id</td>
                        </tr>
                        }
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Monthly GeneralLedgerBook List----------------------------------------------------------*@
                @*------------------------start---------------------------- Table for Yearly GeneralLedgerBook List----------------------------------------------------------*@
                <hr />
                <div class="row">
                    <div class="col-sm-3">
                        <ul>
                            <li class="nav-item dropdown text-white-50">
                                @Html.DropDownList("YearlyInternalLedger", ViewBag.YearlyInternalLedgerList as SelectList, "Select Yearly Internal Ledger", new { @class = "nav-link dropdown-toggle btn btn-primary", @style = "width:250px;height:43px; font-size:medium" })
                            </li>

                        </ul>
                    </div>
                    <div class="col-sm-3 Createbtn" style="margin-left: -5%; margin-right: 5%;">
                        <a type="button" class="btn btn-primary" asp-area="Account" asp-controller="YearlyInternalAccountLedger" asp-action="CreateYearlyInternalLedger"><i class="fas fa-plus"> @Localizer["Create Yearly Internal Ledger"]</i> </a>
                    </div>
                    <div class="col-sm-6 Createbtn">
                        <a type="button" class="btn btn-primary" asp-area="Account" asp-controller="YearlyInternalAccountLedger" asp-action="YearlyInternalAccountLedger"><i class="fas fa-plus"> @Localizer["Create New Yearly Internal Account Ledger"]</i> </a>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <a class="titleAccountofficeReport" scope="col" colspan="10">@Localizer["Yearly Internal Account Ledger-Account Office"]</a>
                    </div>
                </div>
                <br />
                <table class="table table-bordered SubH" id="YIALBook">
                    <thead>
                        <tr class="Subhdr">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.monthlyInternalLedgers)
                        {
                        <tr class="tabbody SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        @*<a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["Edit"]</a>
                    <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                    <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-upload"></i> @Localizer["Upload to Repository"]</a>
                    <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-upload"></i> @Localizer["Upload to DMS"]</a>*@
                                    </div>
                                </div>
                            </td>
                            <td class="text-center" scope="col"> @Convert.ToDateTime(@item.DailyCashDate).Year </td>

                            @*<td>@item.DailyCashDate</td>*@
                            <td>@Localizer["Yearly Internal Account Ledger"] </td>
                            <td>@item.Id</td>
                        </tr>
                        }
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Yearly GeneralLedgerBook List----------------------------------------------------------*@
            </form>
        </div>
    </div>
</body>
<!-- back to top button-->
<a id="button"></a>
@*----------Body Code for this Page----------------------------------Ended---------------------Body----------------*@

@*----------JS for this Page-----------------------------------------Start---------------------JS----------------*@
@section Scripts{
    <script>

        $("#YearlyInternalLedger").change(function () {
            var id = $("#YearlyInternalLedger").val();
            var value = $("#YearlyInternalLedger option:selected").text();
            window.location.replace("/Account/YearlyInternalAccountLedger/YearlyInternalAccountLedgerBook?id=" + id + "&value=" + value);

        });

        $("#MonthlyInternalLedger").change(function () {
            var id = $("#MonthlyInternalLedger").val();
            var value = $("#MonthlyInternalLedger option:selected").text();
            window.location.replace("/Account/MonthlyInternalAccountLedger/MonthlyInternalAccountLedgerBook?id=" + id + "&value=" + value);

        });

        $(document).ready(function () {
            $('#DIALBook').DataTable({
                "sPaginationType": "full_numbers"
            });
        });
        //--------

        $(document).ready(function () {
            $('#MIALBook').DataTable({
                "sPaginationType": "full_numbers"
            });
        });
        //--------

        $(document).ready(function () {
            $('#YIALBook').DataTable({
                "sPaginationType": "full_numbers"
            });
        });
                                //--------

    </script>
}
@*----------JS for this Page-----------------------------------------Ended----------------------JS---------------*@

@*----------CSS for this Page----------------------------------------Start----------------------CSS---------------*@
<style>
    .dropbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

    #myInput {
        box-sizing: border-box;
        background-image: url('searchicon.png');
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 14px 20px 12px 45px;
        border: none;
        border-bottom: 1px solid #ddd;
    }

        #myInput:focus {
            outline: 3px solid #ddd;
        }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }
    /*-------------------*/
    body {
        font-family: 'Jameel Noori Nastaleeq';
    }
    /*-----these clases is for Background  Account Office----*/
    .search-background {
        background: url('../Image/dust_scratches.png');
    }

    .backgroundWhite {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    .backgroundWhiteBorder {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
        border: 1px solid #ddd;
    }

    .backgroundWhiteBorder10Padding {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ddd;
    }

    .actionbtn {
        width: 150px;
        text-align: center;
    }

    .Createbtn {
        font-family: 'Jameel Noori Nastaleeq';
        font-size: large;
        text-align: right;
    }

    .titleAccountofficeReport {
        font-family: 'Jameel Noori Nastaleeq';
        font-size: xx-large;
        font-weight: bold;
    }
    /*  Css for Table of Each in Accounts----*/
    .table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #ddd;
        table-layout: fixed;
        width: 100%
    }
    /*  Css for small Size of Content----*/
    .SubH {
        text-align: center;
        font-family: 'Jameel Noori Nastaleeq';
        font-size: medium;
    }
    /*page print css----*/
    .btn-theme {
        background: #08818c;
        color: #fff;
    }

    .btn {
        font-family: arial;
    }

    .btn-print {
        padding: 10px 24px;
        font-size: 16px;
        line-height: 1.33;
        vertical-align: middle;
        float: left;
    }

    .PrintP {
        margin-left: 985px;
        position: absolute;
        margin-top: -45px;
    }
    /*  Css for BackToList Button----*/
    .BackToList {
        width: 150px;
    }

    .textarea {
        height: 60px;
    }
    /*Mostly USes Css Classes userprofile/footer/backtolist/table/backtotopbtn/smallheading/subh/print --for Accounts Department- start*/
    .Title {
        font-size: xx-large;
        font-family: 'Jameel Noori Nastaleeq';
        text-align: center;
        color: black;
    }
    /*  Css for Small Content Of Accounts----*/
    .smallfontHeading {
        font-size: medium;
    }
    /* Css for Heading on every Sheet of ccount office----*/
    .header {
        overflow: hidden;
        padding: 10px 10px;
        font-size: 40px;
        font-family: 'Jameel Noori Nastaleeq';
        text-align: center;
    }
    /*  Css for Sub Heading of table----*/
    .Subhdr {
        color: white;
        text-align: center;
        background-color: slategrey;
    }
</style>
@*----------CSS for this Page----------------------------------------Ended-----------------------CSS--------------*@