@*----------Header Code for this Page--------------------------------Start-------------------Header------------------*@
@*---Language Tranlator--Localizer*@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@*----------Header Code for this Page--------------------------------Ended-------------------Header------------------*@

@*----------Body Code for this Page----------------------------------Start---------------------Body----------------*@

@*::This HTML for Admin office for User Login & Registered user List::*@
<br />
<body>

    <div class="border  backgroundWhiteBorder10Padding">
        <h2 class="text-dark text-center"><img src="~/Image/finallogo.png" alt="Image" width="100" height="100" /><br />@Localizer["Registered User List"]</h2>
        <div class="row" style="font-weight:bold">
            <div class="col-12 text-right">
                <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary"><i class="fas fa-plus"></i> &nbsp; @Localizer["New Employee Register"]</a>
            </div>

        </div>
        <br />
        <div>
            @if (Model.Count() > 0)
            {
                <table class="table table-striped border SubH" id="RUTable">
                    <tr class="Subhdr text-center text-dark">

                        <th >@Localizer["Name"] </th>
                        <th>@Localizer["Email"]</th>
                        <th>@Localizer["Mobile No"]</th>
                        <th>@Localizer["Department"]</th>
                        <th>@Localizer["Designation"]</th>
                        <th>@Localizer["Lock/Unlock"]</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr class="text-center text-sm-center">

                            <td >
                                @Html.DisplayFor(m => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.MobileNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Department)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Designation)
                            </td>
                            <td >

                                @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                                {
                                    <a class="btn btn-success text-white" asp-action="Lock" asp-route-id="@item.Id">
                                        <i class="fas fa-lock-open"></i>
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-danger text-white" asp-action="UnLock" asp-route-id="@item.Id">
                                        <i class="fas fa-lock"></i>

                                    </a>
                                }
                            </td>

                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No category exists...</p>
            }
        </div>
    </div>

</body>

@*----------Body Code for this Page----------------------------------Ended---------------------Body----------------*@

@*----------JS for this Page-----------------------------------------Start---------------------JS----------------*@
@section Scripts{
    <script>

    //    $(document).ready(function () {
    //$('#RUTable').DataTable();
    //    });
        $(document).ready(function () {
            $('#RUTable').DataTable({
                "sPaginationType": "full_numbers"
            });
        });
    </script>
}
@*----------JS for this Page-----------------------------------------Ended----------------------JS---------------*@

@*----------CSS for this Page----------------------------------------Start----------------------CSS---------------*@
<style>
    .header {
        overflow: hidden;
        padding: 10px 10px;
        font-size: 40px;
        font-family: 'Jameel Noori Nastaleeq';
        text-align: center;
    }

    body {
        font-family: 'Jameel Noori Nastaleeq';
    }

    body {
        font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        color: #333;
        background-color: #fff;
    }

    .Createbtn {
        font-family: 'Jameel Noori Nastaleeq';
        font-size: large;
        text-align: right;
    }

    .actionbtn {
        width: 150px;
        text-align: center;
    }

    .SubH {
        text-align: center;
        font-family: 'Jameel Noori Nastaleeq';
        font-size: medium;
    }

    .titleAccountofficeReport {
        font-family: 'Jameel Noori Nastaleeq';
        font-size: xx-large;
        font-weight: bold;
    }

    .Subhdr {
        color: white;
        text-align: center;
        background-color: slategrey;
    }

    .tabbody {
        text-align: center;
        color: black;
    }

    .lang_btn {
        font-family: "ProximaNova";
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none !important;
        background-color: #C82333;
        text-transform: uppercase;
        margin-top: 1.7%;
        text-decoration: none !important;
        width: 65px;
        text-align: center;
        height: 39px;
        border: solid 1px #C82333;
    }
</style>
@*----------CSS for this Page----------------------------------------Ended-----------------------CSS--------------*@